

// Job paramaters to set for this environment

// Process setting

process {

  // Global cluster parameters
  cpus = { check_max( 1 * task.attempt, 'cpus' ) }
  memory = { check_max( 8.GB * task.attempt, 'memory' ) }
  time = { check_max( 2.h * task.attempt, 'time' ) }

  errorStrategy = { task.exitStatus in [143,137,140,7] ? 'retry' : 'finish' }
  maxRetries = 3
  maxErrors = '-1'
 
  // Specific cluster parameters for each process

  // software dependencies moved to conda.config

  withLabel: gatk {
	container = "docker://quay.io/biocontainers/gatk4:4.3.0.0--py36hdfd78af_0"
  }
  withLabel: rtgtools {
	container = "docker://quay.io/biocontainers/rtg-tools:3.11--0"
  }
  withLabel: high_mem {
        time = { check_max( 24.h * task.attempt, 'time' ) }
        memory = { check_max( 96.GB * task.attempt, 'memory' ) }
  }
  withLabel: short_serial {
	time = { check_max( 4.h * task.attempt, 'time' ) }
        memory = { check_max( 8.GB * task.attempt, 'memory' ) }
  }
  withLabel: medium_serial {
	time = { check_max( 8.h * task.attempt, 'time' ) }
      memory = { check_max( 32.GB * task.attempt, 'memory' ) }
  }
  withLabel: long_serial {
        time = { check_max( 12.h * task.attempt, 'time' ) }
        memory = { check_max( 32.GB * task.attempt, 'memory' ) }
  }
  withLabel: medium_parallel {
	time = { check_max( 8.h * task.attempt, 'time' ) }
        memory = { check_max( 96.GB * task.attempt, 'memory' ) }
        cpus = { check_max( 8 * task.attempt, 'cpus' ) }
  }
  withLabel: long_parallel {
	time = { check_max( 24.h * task.attempt, 'time' ) }
        memory = { check_max( 64.GB * task.attempt, 'memory' ) }
        cpus = params.max_cpus
  }
  withLabel: extra_long_parallel {
        time = { check_max( 96.h * task.attempt, 'time' ) }
        memory = { check_max( 96.GB * task.attempt, 'memory' ) }
        params.max_cpus
  }

}



