
// Job paramaters to set for this environment

params.scratch = true

// Process setting

process {

  // Global cluster parameters
  cpus = { check_max( 1 * task.attempt, 'cpus' ) }
  memory = { check_max( 8.GB * task.attempt, 'memory' ) }
  time = { check_max( 2.h * task.attempt, 'time' ) }

  errorStrategy = { task.exitStatus in [143,137,140,7] ? 'retry' : 'finish' }
  maxRetries = 3
  maxErrors = '-1'
 
  // Specific cluster parameters for each process

  // software dependencies moved to conda.config

  withLabel: picard {
	container = "docker://quay.io/biocontainers/picard:2.20.4--1"
  }
  withLabel: rtgtools {
	container = "docker://quay.io/biocontainers/rtg-tools:3.11--0"
  }
  withLabel: glnexus {
	container = "docker://quay.io/mlin/glnexus:v1.3.1"
  }
  withLabel: deepvariant {
                container = "docker://google/deepvariant:1.4.0"
  }
  withLabel: gatk {
	container = "docker://broadinstitute/gatk:4.2.6.1"
  }	
  withLabel: strelka {
 	container = "docker://quay.io/biocontainers/strelka:2.9.10--h9ee0642_1"
  }
  withLabel: expansion_hunter {
	container = "docker://quay.io/biocontainers/expansionhunter:4.0.2--he785bd8_0"
  }
  withLabel: cnvkit {
	container = "docker://quay.io/biocontainers/cnvkit:0.9.9--pyhdfd78af_0"
  }
  withLabel: manta {
	container = "docker://quay.io/biocontainers/manta:1.6.0--h9ee0642_1"
  }
  withLabel: bcftools {
	container = "docker://quay.io/biocontainers/bcftools:1.14--hde04aa1_1"
  }
  withLabel: whatshap {
	container = "docker://quay.io/biocontainers/whatshap:1.1--py36hae55d0a_1"
	time = { check_max( 12.h * task.attempt, 'time' ) }
  }
  withLabel: vep {
	container = "docker://quay.io/biocontainers/ensembl-vep:99.2--pl526hecc5488_0"
  }
  withName:MANTA {
	time = { check_max( 3.h * task.attempt, 'time' ) }
        memory = { check_max( 24.GB * task.attempt, 'memory' ) }
        cpus = { check_max( 8 * task.attempt, 'cpus' ) }
  }
  withName:'VEP|HAPLOSAURUS' {
	time = { check_max( 8.h * task.attempt, 'time' ) }
        memory = { check_max( 32.GB * task.attempt, 'memory' ) }
        cpus = { check_max( params.max_cpus * task.attempt, 'cpus' ) }
  }
  withName:ALIGN {
        memory = { check_max( params.max_memory * task.attempt, 'memory' ) }
        time = { check_max( 24.h * task.attempt, 'time' ) }
        cpus = { check_max( params.max_cpus , 'cpus' ) }
  }
  withName:TRIM {
        time = { check_max( 5.h * task.attempt, 'time' ) }
        memory = { check_max( 8.GB * task.attempt, 'memory' ) }
	cpus = 8
  }
  withName:MERGE_MULTI_LANE {
        memory = { check_max( 32.GB * task.attempt, 'memory' ) }
        time = { check_max( 8.h * task.attempt, 'time' ) }
        cpus = { check_max( 4 * task.attempt, 'cpus' ) }
  }
  withName:DEDUP {
        memory = { 8.GB * task.attempt }
        time = { check_max( 12.h * task.attempt, 'time' ) }
        cpus = { check_max( 8 * task.attempt, 'cpus' ) }
  }
  withName:OXO_METRICS {
  	time = { check_max( 12.h * task.attempt, 'time' ) }
        memory = { 16.GB * task.attempt }

  }
  withName:GATK_HAPLOTYPECALLER {
	memory = { check_max( 32.GB * task.attempt, 'memory' ) }
        time = { check_max( 8.h * task.attempt, 'time' ) }
        cpus = { check_max( 8 * task.attempt, 'cpus' ) }
  }
  withName:HYBRID_CAPTURE_METRICS {
  	time = { check_max( 12.h * task.attempt, 'time' ) }
        memory = { 12.GB * task.attempt }
  }
  withName:MULTI_METRICS {
  	memory = { check_max( 25.GB * task.attempt, 'memory' ) }
  	time = { check_max( 12.h * task.attempt, 'time' ) }
  }
  withName:'MULTIQC_FASTQ|MULTIQC_SAMPLE|MULTIQC_PANEL|MULTIQC_LIBRARY' {
  	time = { check_max( 6.h * task.attempt, 'time' ) }
  }
  withName:'DEEPVARIANT|STRELKA_JOINTCALLING|STRELKA|GATK_HAPLOTYPECALLER_SINGLE|GATK_HAPLOTYPECALLER_GVCF' {
	cpus = { check_max( params.max_cpus , 'cpus' ) }
	memory = { check_max( 25.GB * task.attempt, 'memory' ) }
        time = { check_max( 24.h * task.attempt, 'time' ) }
  } 
  withName: MERGE_GVCFS {
	time = { check_max( 12.h * task.attempt, 'time' ) }
  }

}



