
// Job parameters to set for this environment

genomes_base = "/work_ikmb/ikmb_repository/references/variant_calling"

params {

	dbnsfp_db = "/work_ikmb/ikmb_repository/references/dbnsfp/4.1/dbNSFP4.1a.gz"
	dbscsnv_db = "/work_ikmb/ikmb_repository/references/dbscSNV/1.1/dbscSNV1.1_GRCh38.txt.gz"
	cadd_snps = "/work_ikmb/ikmb_repository/references/cadd/1.6/hg38/whole_genome_SNVs.tsv.gz"
	cadd_indels = "/work_ikmb/ikmb_repository/references/cadd/1.6/hg38/gnomad.genomes.r3.0.indel.tsv.gz"
	vep_mastermind = "/work_ikmb/ikmb_repository/databases/Mastermind/mastermind_cited_variants_reference-2021.10.12-grch38.vcf.gz"	
	spliceai_fields = "snv=/work_ikmb/ikmb_repository/references/spliceai/spliceai_scores.raw.snv.hg38.vcf.gz,indel=/work_ikmb/ikmb_repository/references/spliceai/spliceai_scores.raw.indel.hg38.vcf.gz,cutoff=0.5"
	max_cpus = 24
	max_memory = 240.GB
	max_time = 240.h

        genomes {

            'GRCh38_no_alt' {
                kits {
                     'xGen_v2' {
                          mutect_pon = "/work_ikmb/ikmb_repository/references/exome-seq/mutect2/GRCh38/idt_xgen_v2/xgen_v2_GRCh38_pon_2023-03-21.vcf.gz"
                     }
          
                     'test' {
                         mutect_pon = "/work_ikmb/ikmb_repository/references/exome-seq/mutect2/GRCh38/idt_xgen_v2/xgen_v2_GRCh38_pon_2023-03-21.vcf.gz"
                     }
                }
            }

        }
}
// Resource manager settings

executor {
  queueSize=50
}

// Process setting

process {
  
  executor = 'slurm'
  queue = 'base'
//  clusterOptions = '-C fast'

}

singularity {
  enabled = true
  runOptions = "-B /work_ikmb -B /scratch"
  cacheDir = "/work_ikmb/ikmb_repository/singularity_cache"
}

