
// Job paramaters to set for this environment

gatk_bundle_path = "/work_ifs/ikmb_repository/references/gatk/v2"

// Resource manager settings

executor {
  queueSize=40
}

// Process setting

process {
  
  executor = 'slurm'
  queue = 'all'

}

singularity {
  enabled = true
  runOptions = "-B /work_ifs -B /scratch"
  cacheDir = "/work_ifs/ikmb_repository/singularity_cache"
}

params.max_cpus = 24
params.max_ram = 250
