
// Job paramaters to set for this environment

gatk_bundle_path = "/work_beegfs/ikmb_repository/references/gatk/v2"

params {
	vep_cache_dir = "/work_beegfs/ikmb_repository/databases/EnsEMBL/vep/cache"
	vep_plugin_dir = "/work_beegfs/ikmb_repository/databases/EnsEMBL/vep/plugins/99"
	dbnsfp_db = "/work_beegfs/ikmb_repository/references/dbnsfp/4.1/dbNSFP4.1a.gz"
	dbscsnv_db = "/work_beegfs/ikmb_repository/references/dbscSNV/1.1/dbscSNV1.1_GRCh38.txt.gz"
	cadd_snps = "/work_beegfs/ikmb_repository/references/cadd/1.6/hg38/whole_genome_SNVs.tsv.gz"
	cadd_indels = "/work_beegfs/ikmb_repository/references/cadd/1.6/hg38/gnomad.genomes.r3.0.indel.tsv.gz"
	vep_mastermind = "/work_beegfs/ikmb_repository/databases/Mastermind/mastermind_cited_variants_reference-2021.10.12-grch38.vcf.gz"	
	spliceai_fields = "snv=/work_beegfs/ikmb_repository/references/spliceai/spliceai_scores.raw.snv.hg38.vcf.gz,indel=/work_beegfs/ikmb_repository/references/spliceai/spliceai_scores.raw.indel.hg38.vcf.gz,cutoff=0.5"
	max_cpus = 24
	max_memory = 240.GB
}

// Resource manager settings

executor {
  queueSize=50
}

// Process setting

process {
  
  executor = 'slurm'
  queue = 'all'
//  clusterOptions = '-C fast'

}

singularity {
  enabled = true
  runOptions = "-B /work_beegfs -B /scratch -B /work_beegfs"
  cacheDir = "/work_beegfs/ikmb_repository/singularity_cache"
}

