params {

	dragmap_index = params.genomes[ params.assembly ].dragmap_index
	bwa2_index = params.genomes[ params.assembly ].bwa2_index
	fasta = params.genomes[ params.assembly ].fasta
	fasta_fai = params.genomes[ params.assembly ].fai
	fasta_gz = params.genomes[ params.assembly ].fastagz
	fasta_gzfai = params.genomes[ params.assembly ].gzfai
	fasta_gzi = params.genomes[ params.assembly ].gzi
	dict = params.genomes[ params.assembly ].dict
	dbsnp = params.genomes[ params.assembly ].dbsnp
	csq_gtf = params.genomes[params.assembly].gtf
	omni =  params.genomes[ params.assembly ].omni
	hapmap = params.genomes[ params.assembly ].hapmap
	g1k = params.genomes[ params.assembly].g1k
	mills = params.genomes[ params.assembly ].mills
	axiom = params.genomes[ params.assembly ].axiom
	gnomad_af_vcf = params.genomes[ params.assembly ].gnomad
}

