params {

   genomes {

        'hg19' {
                fasta = "${gatk_bundle_path}/hg19/ucsc.hg19.fasta"
		mitochondrion = "chrM"
                dict = "${gatk_bundle_path}/hg19/ucsc.hg19.dict"
                dbsnp = "${gatk_bundle_path}/hg19/dbsnp_138.hg19.vcf.gz"
                mills = "${gatk_bundle_path}/hg19/Mills_and_1000G_gold_standard.indels.hg19.sites.vcf.gz"
                g1k = "${gatk_bundle_path}/hg19/1000G_phase1.snps.high_confidence.hg19.sites.vcf.gz"
                omni = "${gatk_bundle_path}/hg19/1000G_omni2.5.hg19.sites.vcf.gz"
                hapmap = "${gatk_bundle_path}/hg19/hapmap_3.3.hg19.sites.vcf.gz"
		sry_bed = "${baseDir}/assets/qc/hg19/sry.hg19.bed"
		panels {
			'cardio_dilatative' {
				list = "${baseDir}/assets/panels/gene_lists/cardio_dilatative.list.txt"
				description = "Dilatative_Kardiomyopathie"
				bed = "${baseDir}/assets/panels/hg19/cardio_dilatative.hg19.bed"
				intervals = "${baseDir}/assets/panels/hg19/cardio_dilatative.hg19.interval_list"
			}
			'cardio_hypertrophic' {
				list = "${baseDir}/assets/panels/gene_lists/cardio_hypertroph.list.txt"
				description = "Hypertrophe_Kardiomyopathie"
				bed = "${baseDir}/assets/panels/hg19/cardio_hypertroph.hg19.bed"
				intervals = "${baseDir}/assets/panels/hg19/cardio_hypertroph.hg19.interval_list"
			}
			'cardio_non_compaction' {
				list = "${baseDir}/assets/panels/gene_lists/cardio_non_compaction.list.txt"
				description = "Non-Compaction_Kardiomyopathie"
				bed = "${baseDir}/assets/panels/hg19/cardio_non_compaction.hg19.bed"
				intervals = "${baseDir}/assets/panels/hg19/cardio_non_compaction.hg19.interval_list"
			}
			'IMM_AGG' {
				list = "${baseDir}/assets/panels/gene_lists/Gene_Immundefekt_Agammaglobulinaemie-25kb.txt"
                                description = "Gene Immundefekt AKMangelsyndrome 25kb"
                                bed = "${baseDir}/assets/panels/hg19/Gene_Immundefekt_Agammaglobulinaemie-25kb.hg19.bed"
                                intervals = "${baseDir}/assets/panels/hg19/Gene_Immundefekt_Agammaglobulinaemie-25kb.hg19.interval_list"
			}
			'IMM_HGG' {
				list = "${baseDir}/assets/panels/gene_lists/Gene_Immundefekt_Hypogammaglobulinaemie-25kb.txt"
                                description = "Gene Immundefekt CVID 25kb"
                                bed = "${baseDir}/assets/panels/hg19/Gene_Immundefekt_Hypogammaglobulinaemie-25kb.hg19.bed"
                                intervals = "${baseDir}/assets/panels/hg19/Gene_Immundefekt_Hypogammaglobulinaemie-25kb.hg19.interval_list"
			}
			'IMM' {
				list = "${baseDir}/assets/panels/gene_lists/Gene_Immundefekt_grosses_Panel.txt"
                                description = "Gene Immundefekt FULL"
                                bed = "${baseDir}/assets/panels/hg19/Gene_Immundefekt_grosses_Panel.hg19.bed"
                                intervals = "${baseDir}/assets/panels/hg19/Gene_Immundefekt_grosses_Panel.hg19.interval_list"
			}
			'IMM_IBD' {
				list = "${baseDir}/assets/panels/gene_lists/Gene_Immundefekt_intestinal-25kb.txt"
                                description = "Gene Immundefekt mit intestinaler Beteiligung 25kb"
                                bed = "${baseDir}/assets/panels/hg19/Gene_Immundefekt_intestinal-25kb.hg19.bed"
                                intervals = "${baseDir}/assets/panels/hg19/Gene_Immundefekt_intestinal-25kb.hg19.interval_list"
			}
			'breast_cancer' {
				list = "${baseDir}/assets/panels/gene_lists/breast_cancer.txt"
                                description = "Gene Brustkrebs"
                                bed = "${baseDir}/assets/panels/hg19/breast_cancer.hg19.bed"
                                intervals = "${baseDir}/assets/panels/hg19/breast_cancer.hg19.interval_list"
                        }
			'Liver' {
				list = "${baseDir}/assets/panels/gene_lists/Gene_Lebererkankung.txt"
                                description = "Gene Lebererkrankung"
                                bed = "${baseDir}/assets/panels/hg19/Gene_Lebererkankung.hg19.bed"
                                intervals = "${baseDir}/assets/panels/hg19/Gene_Lebererkankung.hg19.interval_list"

			}
			
		}
                kits {
                        'Nextera' {
                                targets = "${baseDir}/assets/kits/hg19/nextera/nexterarapidcapture_exome_target_v1.2_hg19.interval_list"
                                baits = "${baseDir}/assets/kits/hg19/nextera/nexterarapidcapture_exome_intervals_v1.2_hg19.interval_list"
                        }
                        'xGen' {
                                targets = "${baseDir}/assets/kits/hg19/idt_xgen/xgen-exome-research-panel-targets.interval_list"
                                baits = "${baseDir}/assets/kits/hg19/idt_xgen/xgen-exome-research-panel-probes.interval_list"
                        }
                        'xGen_custom' {
                                targets = "${baseDir}/assets/kits/hg19/idt_xgen_custom/xgen-exome-research-panel-targets.interval_list"
                                baits = "${baseDir}/assets/kits/hg19/idt_xgen/xgen-exome-research-panel-probes.interval_list"
                        }
			'Pan_cancer' {
				targets = "${baseDir}/assets/kits/hg19/pan_cancer/xgen-pan-cancer-targets.interval_list"
				baits = "${baseDir}/assets/kits/hg19/pan_cancer/xgen-pan-cancer-probes.interval_list"
			}
                }
        }
	'GRCh38' {
		fasta = "${gatk_bundle_path}/hg38_no_alt/Homo_sapiens_GRCh38_no_alts.fa"
		mitochondrion = "chrM"
		dict = "${gatk_bundle_path}/hg38_no_alt/Homo_sapiens_GRCh38_no_alts.dict"
		dbsnp = "${gatk_bundle_path}/hg38_no_alt/dbsnp_146.hg38.vcf.gz"
		mills = "${gatk_bundle_path}/hg38_no_alt/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz"
		g1k = "${gatk_bundle_path}/hg38_no_alt/1000G_phase1.snps.high_confidence.hg38.vcf.gz"
		omni = "${gatk_bundle_path}/hg38_no_alt/1000G_omni2.5.hg38.vcf.gz"
		hapmap = "${gatk_bundle_path}/hg38_no_alt/hapmap_3.3.hg38.vcf.gz"
		sry_bed = "${baseDir}/assets/qc/hg38_no_alt/sry.hg38.bed"
                panels {
			'cardio_dilatative' {
				list = "${baseDir}/assets/panels/gene_lists/cardio_dilatative.list.txt"
                                description = "Dilatative_Kardiomyopathie"
                                bed = "${baseDir}/assets/panels/hg38_no_alt/cardio_dilatative.hg38.bed"
				intervals = "${baseDir}/assets/panels/hg38_no_alt/cardio_dilatative.hg38.interval_list"
                        }
                        'cardio_hypertrophic' {
				list = "${baseDir}/assets/panels/gene_lists/cardio_hypertroph.list.txt"
                                description = "Hypertrophe_Kardiomyopathie"
                                bed = "${baseDir}/assets/panels/hg38_no_alt/cardio_hypertroph.hg38.bed"
				intervals = "${baseDir}/assets/panels/hg38_no_alt/cardio_hypertroph.hg38.interval_list"
                        }
                        'cardio_non_compaction' {
				list = "${baseDir}/assets/panels/gene_lists/cardio_non_compaction.list.txt"
                                description = "Non-Compaction_Kardiomyopathie"
                                bed = "${baseDir}/assets/panels/hg38_no_alt/cardio_non_compaction.hg38.bed"
				intervals = "${baseDir}/assets/panels/hg38_no_alt/cardio_non_compaction.hg38.interval_list"
                        }
			'IMM_AGG' {
                                list = "${baseDir}/assets/panels/gene_lists/Gene_Immundefekt_Agammaglobulinaemie-25kb.txt"
                                description = "Gene Immundefekt AKMangelsyndrome 25kb"
                                bed = "${baseDir}/assets/panels/hg38_no_alt/Gene_Immundefekt_Agammaglobulinaemie-25kb.hg38.bed"
                                intervals = "${baseDir}/assets/panels/hg38_no_alt/Gene_Immundefekt_Agammaglobulinaemie-25kb.hg38.interval_list"
                        }
                        'IMM_HGG' {
                                list = "${baseDir}/assets/panels/gene_lists/Gene_Immundefekt_Hypogammaglobulinaemie-25kb.txt"
                                description = "Gene Immundefekt CVID 25kb"
                                bed = "${baseDir}/assets/panels/hg38_no_alt/Gene_Immundefekt_Hypogammaglobulinaemie-25kb.hg38.bed"
                                intervals = "${baseDir}/assets/panels/hg38_no_alt/Gene_Immundefekt_Hypogammaglobulinaemie-25kb.hg38.interval_list"
                        }
                        'IMM' {
                                list = "${baseDir}/assets/panels/gene_lists/Gene_Immundefekt_grosses_Panel.txt"
                                description = "Gene Immundefekt FULL"
                                bed = "${baseDir}/assets/panels/hg38_no_alt/Gene_Immundefekt_grosses_Panel.hg38.bed"
                                intervals = "${baseDir}/assets/panels/hg38_no_alt/Gene_Immundefekt_grosses_Panel.hg38.interval_list"
                        }
                        'IMM_IBD' {
                                list = "${baseDir}/assets/panels/gene_lists/Gene_Immundefekt_intestinal-25kb.txt"
                                description = "Gene Immundefekt mit intestinaler Beteiligung 25kb"
                                bed = "${baseDir}/assets/panels/hg38_no_alt/Gene_Immundefekt_intestinal-25kb.hg38.bed"
                                intervals = "${baseDir}/assets/panels/hg38_no_alt/Gene_Immundefekt_intestinal-25kb.hg38.interval_list"
                        }
			'breast_cancer' {
				list = "${baseDir}/assets/panels/gene_lists/breast_cancer.txt"
                                description = "Gene Brustkrebs"
                                bed = "${baseDir}/assets/panels/hg38_no_alt/breast_cancer.hg38.bed"
                                intervals = "${baseDir}/assets/panels/hg38_no_alt/breast_cancer.hg38.interval_list"
                        }
			'Liver' {
                                list = "${baseDir}/assets/panels/gene_lists/Gene_Lebererkankung.txt"
                                description = "Gene Lebererkrankung"
                                bed = "${baseDir}/assets/panels/hg38_no_alt/Gene_Lebererkankung.hg38.bed"
                                intervals = "${baseDir}/assets/panels/hg38_no_alt/Gene_Lebererkankung.hg38.interval_list"

                        }
	
                }
		kits {
			'Nextera' {
				targets = "${baseDir}/assets/kits/hg38_no_alt/nextera/nexterarapidcapture_exome_target_v1.2_hg38.interval_list"
				baits = "${baseDir}/assets/kits/nextera/hg38_no_alt/nexterarapidcapture_exome_intervals_v1.2_hg38.interval_list"
			}
			'xGen_custom' {
				targets = "${baseDir}/assets/kits/hg38_no_alt/idt_xgen_custom/xgen-exome-research-panel-targets.interval_list"
                                baits = "${baseDir}/assets/kits/hg38_no_alt/idt_xgen_custom/xgen-exome-research-panel-probes.interval_list"
			}
			'xGen' {
				targets = "${baseDir}/assets/kits/hg38_no_alt/idt_xgen/xgen-exome-research-panel-targets.interval_list"
                                baits = "${baseDir}/assets/kits/hg38_no_alt/idt_xgen/xgen-exome-research-panel-probes.interval_list"
			}
			'xGen_v2' {
				baits = "${baseDir}/assets/kits/hg38_no_alt/idt_xgen_v2/xgen-exome-research-panel-probes-v2.interval_list"
				targets = "${baseDir}/assets/kits/hg38_no_alt/idt_xgen_v2/xgen-exome-research-panel-targets-v2.interval_list"
				missing = "${baseDir}/assets/kits/hg38_no_alt/idt_xgen_v2/known_missing.txt"
				kill = "${baseDir}/assets/kits/hg38_no_alt/idt_xgen_v2/kill.txt"
			}
	
		}
	}        
        'GRCh37' {
                fasta = "${gatk_bundle_path}/b37/human_g1k_v37_decoy.fasta"
		mitochondrion = "MT"
                dict = "${gatk_bundle_path}/b37/human_g1k_v37.clean.dict"
                dbsnp = "${gatk_bundle_path}/b37/dbsnp_138.b37.vcf.gz"
                mills = "${gatk_bundle_path}/b37/Mills_and_1000G_gold_standard.indels.b37.vcf.gz"
                g1k = "${gatk_bundle_path}/b37/1000G_phase1.snps.high_confidence.b37.vcf.gz"
		omni = "${gatk_bundle_path}/b37/1000G_omni2.5.b37.vcf.gz"
                hapmap = "${gatk_bundle_path}/b37/hapmap_3.3.b37.vcf.gz"
		sry_bed = "${baseDir}/assets/qc/b37/sry.b37.bed"
	        panels {
			'cardio_dilatative' {
				list = "${baseDir}/assets/panels/gene_lists/cardio_dilatative.list.txt"
                                description = "Dilatative_Kardiomyopathie"
                                bed = "${baseDir}/assets/panels/b37/cardio_dilatative.b37.bed"
				intervals = "${baseDir}/assets/panels/b37/cardio_dilatative.b37.interval_list"
                        }
                        'cardio_hypertrophic' {
				list = "${baseDir}/assets/panels/gene_lists/cardio_hypertroph.list.txt"
                                description = "Hypertrophe_Kardiomyopathie"
                                bed = "${baseDir}/assets/panels/b37/cardio_hypertroph.b37.bed"
				intervals = "${baseDir}/assets/panels/b37/cardio_hypertroph.b37.interval_list"
                        }
                        'cardio_non_compaction' {
				list = "${baseDir}/assets/panels/gene_lists/cardio_non_compaction.list.txt"
                                description = "Non-Compaction_Kardiomyopathie"
                                bed = "${baseDir}/assets/panels/b37/cardio_non_compaction.b37.bed"
				intervals = "${baseDir}/assets/panels/b37/cardio_non_compaction.b37.interval_list"
                        }
			'IMM_AGG' {
                                list = "${baseDir}/assets/panels/gene_lists/Gene_Immundefekt_Agammaglobulinaemie-25kb.txt"
                                description = "Gene Immundefekt AKMangelsyndrome 25kb"
                                bed = "${baseDir}/assets/panels/b37/Gene_Immundefekt_Agammaglobulinaemie-25kb.b37.bed"
                                intervals = "${baseDir}/assets/panels/b37/Gene_Immundefekt_Agammaglobulinaemie-25kb.b37.interval_list"
                        }
                        'IMM_HGG' {
                                list = "${baseDir}/assets/panels/gene_lists/Gene_Immundefekt_Hypogammaglobulinaemie-25kb.txt"
                                description = "Gene Immundefekt CVID 25kb"
                                bed = "${baseDir}/assets/panels/b37/Gene_Immundefekt_Hypogammaglobulinaemie-25kb.b37.bed"
                                intervals = "${baseDir}/assets/panels/b37/Gene_Immundefekt_Hypogammaglobulinaemie-25kb.b37.interval_list"
                        }
                        'IMM' {
                                list = "${baseDir}/assets/panels/gene_lists/Gene_Immundefekt_grosses_Panel.txt"
                                description = "Gene Immundefekt FULL"
                                bed = "${baseDir}/assets/panels/b37/Gene_Immundefekt_grosses_Panel.b37.bed"
                                intervals = "${baseDir}/assets/panels/b37/Gene_Immundefekt_grosses_Panel.b37.interval_list"
                        }
                        'IMM_IBD' {
                                list = "${baseDir}/assets/panels/gene_lists/Gene_Immundefekt_intestinal-25kb.txt"
                                description = "Gene Immundefekt mit intestinaler Beteiligung 25kb"
                                bed = "${baseDir}/assets/panels/b37/Gene_Immundefekt_intestinal-25kb.b37.bed"
                                intervals = "${baseDir}/assets/panels/b37/Gene_Immundefekt_intestinal-25kb.b37.interval_list"
                        }
			'breast_cancer' {
				list = "${baseDir}/assets/panels/gene_lists/breast_cancer.txt"
                                description = "Gene Brustkrebs"
                                bed = "${baseDir}/assets/panels/b37/breast_cancer.b37.bed"
                                intervals = "${baseDir}/assets/panels/b37/breast_cancer.b37.interval_list"
                        }
			'Liver' {
                                list = "${baseDir}/assets/panels/gene_lists/Gene_Lebererkankung.txt"
                                description = "Gene Lebererkrankung"
                                bed = "${baseDir}/assets/panels/b37/Gene_Lebererkankung.b37.bed"
                                intervals = "${baseDir}/assets/panels/b37/Gene_Lebererkankung.b37.interval_list"

                        }
                }
                kits {
                        'Nextera' {
                                targets = "${baseDir}/assets/kits/b37/nextera/nexterarapidcapture_exome_target_v1.2_b37.interval_list"
                                baits = "${baseDir}/assets/kits/b37/nextera/nexterarapidcapture_exome_intervals_v1.2_b37.interval_list"
                        }
                        'xGen' {
                                targets = "${baseDir}/assets/kits/b37/idt_xgen/xgen-exome-research-panel-targets.interval_list"
                                baits = "${baseDir}/assets/kits/b37/idt_xgen/xgen-exome-research-panel-probes.interval_list"
                        }
                        'xGen_custom' {
                                targets = "${baseDir}/assets/kits/b37/idt_xgen_custom/xgen-exome-research-panel-targets.interval_list"
                                baits = "${baseDir}/assets/kits/b37/idt_xgen/xgen-exome-research-panel-probes.interval_list"
                        }
                }
        }
        
  }
  
}
