params {

   genomes {

	GRCh38 {
		fasta = "${gatk_bundle_path}/hg38_no_alt/Homo_sapiens_GRCh38_no_alts.fa"		
		bwa2_index = "${gatk_bundle_path}/hg38_no_alt/bwa2/Homo_sapiens_GRCh38_no_alts.fa"
		dragmap_index = "${gatk_bundle_path}/hg38_no_alt/dragmap/"
                fai = "${gatk_bundle_path}/hg38_no_alt/Homo_sapiens_GRCh38_no_alts.fa.fai"
                fastagz = "${gatk_bundle_path}/hg38_no_alt/Homo_sapiens_GRCh38_no_alts.fa.gz"
                gzi = "${gatk_bundle_path}/hg38_no_alt/Homo_sapiens_GRCh38_no_alts.fa.gz.gzi"
                gzfai = "${gatk_bundle_path}/hg38_no_alt/Homo_sapiens_GRCh38_no_alts.fa.gz.fai"
		mitochondrion = "chrM"
		dict = "${gatk_bundle_path}/hg38_no_alt/Homo_sapiens_GRCh38_no_alts.dict"
		dbsnp = "${gatk_bundle_path}/hg38_no_alt/dbsnp_146.hg38.vcf.gz"
		g1k = "${gatk_bundle_path}/hg38_no_alt/1000G_phase1.snps.high_confidence.hg38.vcf.gz"
		mills = "${gatk_bundle_path}/hg38_no_alt/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz"
		axiom = "${gatk_bundle_path}/hg38_no_alt/Axiom_Exome_Plus.genotypes.all_populations.poly.hg38.vcf.gz"
		gnomad = "${gatk_bundle_path}/hg38_no_alt/af-only-gnomad.hg38.vcf.gz"
		omni = "${gatk_bundle_path}/hg38_no_alt/1000G_omni2.5.hg38.vcf.gz"
		hapmap = "${gatk_bundle_path}/hg38_no_alt/hapmap_3.3.hg38.vcf.gz"
		sry_bed = "${baseDir}/assets/qc/hg38_no_alt/sry.hg38.bed"
		expansion_catalog = "${baseDir}/assets/expansion_hunter/hg38/variant_catalog.json"
		gtf = "ftp://ftp.ensembl.org/pub/release-99/gff3/homo_sapiens/Homo_sapiens.GRCh38.99.chr.gff3.gz"
                panels {
			'cardio_dilatative' {
				list = "${baseDir}/assets/panels/gene_lists/cardio_dcm.txt"
                                description = "Dilatative_Kardiomyopathie"
                                bed = "${baseDir}/assets/panels/hg38_no_alt/cardio_dcm.hg38.bed"
				intervals = "${baseDir}/assets/panels/hg38_no_alt/cardio_dcm.hg38.interval_list"
                        }
                        'cardio_hypertrophic' {
				list = "${baseDir}/assets/panels/gene_lists/cardio_hcm.txt"
                                description = "Hypertrophe_Kardiomyopathie"
                                bed = "${baseDir}/assets/panels/hg38_no_alt/cardio_hcm.hg38.bed"
				intervals = "${baseDir}/assets/panels/hg38_no_alt/cardio_hcm.hg38.interval_list"
                        }
                        'cardio_non_compaction' {
				list = "${baseDir}/assets/panels/gene_lists/cardio_non_compaction.txt"
                                description = "Non-Compaction_Kardiomyopathie"
                                bed = "${baseDir}/assets/panels/hg38_no_alt/cardio_non_compaction.hg38.bed"
				intervals = "${baseDir}/assets/panels/hg38_no_alt/cardio_non_compaction.hg38.interval_list"
                        }
			'IMM_AGG' {
                                list = "${baseDir}/assets/panels/gene_lists/Gene_Immundefekt_Agammaglobulinaemie-25kb.txt"
                                description = "Gene Immundefekt AKMangelsyndrome 25kb"
                                bed = "${baseDir}/assets/panels/hg38_no_alt/Gene_Immundefekt_Agammaglobulinaemie-25kb.hg38.bed"
                                intervals = "${baseDir}/assets/panels/hg38_no_alt/Gene_Immundefekt_Agammaglobulinaemie-25kb.hg38.interval_list"
                        }
                        'IMM_HGG' {
                                list = "${baseDir}/assets/panels/gene_lists/Gene_Immundefekt_Hypogammaglobulinaemie-25kb.txt"
                                description = "Gene Immundefekt CVID 25kb"
                                bed = "${baseDir}/assets/panels/hg38_no_alt/Gene_Immundefekt_Hypogammaglobulinaemie-25kb.hg38.bed"
                                intervals = "${baseDir}/assets/panels/hg38_no_alt/Gene_Immundefekt_Hypogammaglobulinaemie-25kb.hg38.interval_list"
                        }
                        'IMM' {
                                list = "${baseDir}/assets/panels/gene_lists/Gene_Immundefekt_grosses_Panel.txt"
                                description = "Gene Immundefekt FULL"
                                bed = "${baseDir}/assets/panels/hg38_no_alt/Gene_Immundefekt_grosses_Panel.hg38.bed"
                                intervals = "${baseDir}/assets/panels/hg38_no_alt/Gene_Immundefekt_grosses_Panel.hg38.interval_list"
                        }
                        'IMM_IBD' {
                                list = "${baseDir}/assets/panels/gene_lists/Gene_Immundefekt_intestinal-25kb.txt"
                                description = "Gene Immundefekt mit intestinaler Beteiligung 25kb"
                                bed = "${baseDir}/assets/panels/hg38_no_alt/Gene_Immundefekt_intestinal-25kb.hg38.bed"
                                intervals = "${baseDir}/assets/panels/hg38_no_alt/Gene_Immundefekt_intestinal-25kb.hg38.interval_list"
                        }
			'breast_cancer' {
				list = "${baseDir}/assets/panels/gene_lists/breast_cancer.txt"
                                description = "Gene Brustkrebs"
                                bed = "${baseDir}/assets/panels/hg38_no_alt/breast_cancer.hg38.bed"
                                intervals = "${baseDir}/assets/panels/hg38_no_alt/breast_cancer.hg38.interval_list"
                        }
			'Liver' {
                                list = "${baseDir}/assets/panels/gene_lists/Gene_Lebererkankung.txt"
                                description = "Gene Lebererkrankung"
                                bed = "${baseDir}/assets/panels/hg38_no_alt/Gene_Lebererkankung.hg38.bed"
                                intervals = "${baseDir}/assets/panels/hg38_no_alt/Gene_Lebererkankung.hg38.interval_list"

                        }
			'Intellectual_disability' {
				description = "Intellektuelle Behinderung"
                                bed = "${baseDir}/assets/panels/hg38_no_alt/intellectual_disability.hg38.bed"
                                intervals = "${baseDir}/assets/panels/hg38_no_alt/intellectual_disability.hg38.interval_list"
			}
	
                }
		kits {
			'Nextera' {
				targets = "${baseDir}/assets/kits/hg38_no_alt/nextera/nexterarapidcapture_exome_target_v1.2_hg38.interval_list"
				baits = "${baseDir}/assets/kits/nextera/hg38_no_alt/nexterarapidcapture_exome_intervals_v1.2_hg38.interval_list"
			}
			'xGen_custom' {
				targets = "${baseDir}/assets/kits/hg38_no_alt/idt_xgen_custom/xgen-exome-research-panel-targets.interval_list"
                                baits = "${baseDir}/assets/kits/hg38_no_alt/idt_xgen_custom/xgen-exome-research-panel-probes.interval_list"
			}
			'xGen' {
				targets = "${baseDir}/assets/kits/hg38_no_alt/idt_xgen/xgen-exome-research-panel-targets.interval_list"
                                baits = "${baseDir}/assets/kits/hg38_no_alt/idt_xgen/xgen-exome-research-panel-probes.interval_list"
			}
			'xGen_v2' {
				baits = "${baseDir}/assets/kits/hg38_no_alt/idt_xgen_v2/xgen-exome-research-panel-probes-v2.interval_list"
				targets = "${baseDir}/assets/kits/hg38_no_alt/idt_xgen_v2/xgen-exome-research-panel-targets-v2.interval_list"
				missing = "${baseDir}/assets/kits/hg38_no_alt/idt_xgen_v2/known_missing.txt"
				kill = "${baseDir}/assets/kits/hg38_no_alt/idt_xgen_v2/kill.txt"
				cnv_ref = "${baseDir}/assets/cnvkit/hg38/Homo_sapiens_GRCh38_no_alts.xgen_v2.125.20220405.cnn.gz"
                                mutect_pon = "${gatk_bundle_path}/hg38_no_alt/mutect/xgen_v2_GRCh38_pon.vcf.gz"
			}
			'test' {
				baits = "${baseDir}/assets/kits/hg38_no_alt/test/test-baits.interval_list"
                                targets = "${baseDir}/assets/kits/hg38_no_alt/test/test-targets.interval_list"
				missing = "${baseDir}/assets/kits/hg38_no_alt/idt_xgen_v2/known_missing.txt"
                                kill = "${baseDir}/assets/kits/hg38_no_alt/idt_xgen_v2/kill.txt"
				cnv_ref = "${baseDir}/assets/cnvkit/hg38/Homo_sapiens_GRCh38_no_alts.xgen_v2.125.20220405.cnn.gz"
				mutect_pon = "${gatk_bundle_path}/hg38_no_alt/mutect/xgen_v2_GRCh38_pon.vcf.gz"
                        }
		}
	}        
        'GRCh38_p14' {
                fasta = "${gatk_bundle_path}/hg38_no_alt_p14/Homo_sapiens_no_alt_p14.fa"
                bwa2_index = "${gatk_bundle_path}/hg38_no_alt_p14/bwa2/Homo_sapiens_no_alt_p14.fa"
		dragmap_index = "${gatk_bundle_path}/hg38_no_alt_p14/dragmap/"
                fai = "${gatk_bundle_path}/hg38_no_alt_p14/Homo_sapiens_no_alt_p14.fa.fai"
                fastagz = "${gatk_bundle_path}/hg38_no_alt_p14/Homo_sapiens_no_alt_p14.fa.gz"
                gzi = "${gatk_bundle_path}/hg38_no_alt_p14/Homo_sapiens_no_alt_p14.fa.gz.gzi"
                gzfai = "${gatk_bundle_path}/hg38_no_alt_p14/Homo_sapiens_no_alt_p14.fa.gz.fai"
                mitochondrion = "chrM"
                dict = "${gatk_bundle_path}/hg38_no_alt_p14/Homo_sapiens_no_alt_p14.dict"
                dbsnp = "${gatk_bundle_path}/hg38_no_alt_p14/dbsnp_146.hg38.vcf.gz"
		g1k = "${gatk_bundle_path}/hg38_no_alt_p14/1000G_phase1.snps.high_confidence.hg38.vcf.gz"
                mills = "${gatk_bundle_path}/hg38_no_alt_p14/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz"
                axiom = "${gatk_bundle_path}/hg38_no_alt_p14/Axiom_Exome_Plus.genotypes.all_populations.poly.hg38.vcf.gz"
		gnomad = "${gatk_bundle_path}/hg38_no_alt_p14/af-only-gnomad.hg38.vcf.gz"
                omni = "${gatk_bundle_path}/hg38_no_alt_p14/1000G_omni2.5.hg38.vcf.gz"
                hapmap = "${gatk_bundle_path}/hg38_no_alt_p14/hapmap_3.3.hg38.vcf.gz"
                sry_bed = "${baseDir}/assets/qc/hg38_no_alt/sry.hg38.bed"
                expansion_catalog = "${baseDir}/assets/expansion_hunter/hg38/variant_catalog.json"
                gtf = "ftp://ftp.ensembl.org/pub/release-99/gff3/homo_sapiens/Homo_sapiens.GRCh38.99.chr.gff3.gz"
		panels {
                        'cardio_dilatative' {
                                list = "${baseDir}/assets/panels/gene_lists/cardio_dcm.txt"
                                description = "Dilatative_Kardiomyopathie"
                                bed = "${baseDir}/assets/panels/hg38_no_alt_p14/cardio_dcm.hg38.bed"
                                intervals = "${baseDir}/assets/panels/hg38_no_alt_p14/cardio_dcm.hg38.interval_list"
                        }
                        'cardio_hypertrophic' {
                                list = "${baseDir}/assets/panels/gene_lists/cardio_hcm.txt"
                                description = "Hypertrophe_Kardiomyopathie"
                                bed = "${baseDir}/assets/panels/hg38_no_alt_p14/cardio_hcm.hg38.bed"
                                intervals = "${baseDir}/assets/panels/hg38_no_alt_p14/cardio_hcm.hg38.interval_list"
                        }
                        'cardio_non_compaction' {
                                list = "${baseDir}/assets/panels/gene_lists/cardio_non_compaction.txt"
                                description = "Non-Compaction_Kardiomyopathie"
                                bed = "${baseDir}/assets/panels/hg38_no_alt_p14/cardio_non_compaction.hg38.bed"
                                intervals = "${baseDir}/assets/panels/hg38_no_alt_p14/cardio_non_compaction.hg38.interval_list"
                        }
                        'IMM_AGG' {
                                list = "${baseDir}/assets/panels/gene_lists/Gene_Immundefekt_Agammaglobulinaemie-25kb.txt"
                                description = "Gene Immundefekt AKMangelsyndrome 25kb"
                                bed = "${baseDir}/assets/panels/hg38_no_alt_p14/Gene_Immundefekt_Agammaglobulinaemie-25kb.hg38.bed"
                                intervals = "${baseDir}/assets/panels/hg38_no_alt_p14/Gene_Immundefekt_Agammaglobulinaemie-25kb.hg38.interval_list"
                        }
                        'IMM_HGG' {
                                list = "${baseDir}/assets/panels/gene_lists/Gene_Immundefekt_Hypogammaglobulinaemie-25kb.txt"
                                description = "Gene Immundefekt CVID 25kb"
                                bed = "${baseDir}/assets/panels/hg38_no_alt_p14/Gene_Immundefekt_Hypogammaglobulinaemie-25kb.hg38.bed"
                                intervals = "${baseDir}/assets/panels/hg38_no_alt_p14/Gene_Immundefekt_Hypogammaglobulinaemie-25kb.hg38.interval_list"
                        }
                        'IMM' {
                                list = "${baseDir}/assets/panels/gene_lists/Gene_Immundefekt_grosses_Panel.txt"
                                description = "Gene Immundefekt FULL"
                                bed = "${baseDir}/assets/panels/hg38_no_alt_p14/Gene_Immundefekt_grosses_Panel.hg38.bed"
                                intervals = "${baseDir}/assets/panels/hg38_no_alt_p14/Gene_Immundefekt_grosses_Panel.hg38.interval_list"
                        }
                        'IMM_IBD' {
                                list = "${baseDir}/assets/panels/gene_lists/Gene_Immundefekt_intestinal-25kb.txt"
                                description = "Gene Immundefekt mit intestinaler Beteiligung 25kb"
                                bed = "${baseDir}/assets/panels/hg38_no_alt_p14/Gene_Immundefekt_intestinal-25kb.hg38.bed"
                                intervals = "${baseDir}/assets/panels/hg38_no_alt_p14/Gene_Immundefekt_intestinal-25kb.hg38.interval_list"
                        }
                        'breast_cancer' {
                                list = "${baseDir}/assets/panels/gene_lists/breast_cancer.txt"
                                description = "Gene Brustkrebs"
                                bed = "${baseDir}/assets/panels/hg38_no_alt_p14/breast_cancer.hg38.bed"
                                intervals = "${baseDir}/assets/panels/hg38_no_alt_p14/breast_cancer.hg38.interval_list"
                        }
			'Liver' {
                                list = "${baseDir}/assets/panels/gene_lists/Gene_Lebererkankung.txt"
                                description = "Gene Lebererkrankung"
                                bed = "${baseDir}/assets/panels/hg38_no_alt_p14/Gene_Lebererkankung.hg38.bed"
                                intervals = "${baseDir}/assets/panels/hg38_no_alt_p14/Gene_Lebererkankung.hg38.interval_list"

                        }
                        'Intellectual_disability' {
                                description = "Intellektuelle Behinderung"
                                bed = "${baseDir}/assets/panels/hg38_no_alt_p14/intellectual_disability.hg38.bed"
                                intervals = "${baseDir}/assets/panels/hg38_no_alt_p14/intellectual_disability.hg38.interval_list"
                        }

                }
                kits {
                        'xGen_v2' {
                                baits = "${baseDir}/assets/kits/hg38_no_alt_p14/idt_xgen_v2/xgen-exome-research-panel-probes-v2.interval_list"
                                targets = "${baseDir}/assets/kits/hg38_no_alt_p14/idt_xgen_v2/xgen-exome-research-panel-targets-v2.interval_list"
                                missing = "${baseDir}/assets/kits/hg38_no_alt_p14/idt_xgen_v2/known_missing.txt"
                                kill = "${baseDir}/assets/kits/hg38_no_alt_p14/idt_xgen_v2/kill.txt"
                                cnv_ref = "${baseDir}/assets/cnvkit/hg38/Homo_sapiens_GRCh38_no_alts.xgen_v2.125.20220405.cnn.gz"
                                mutect_pon = "${gatk_bundle_path}/hg38_no_alt_p14/mutect/xgen_v2_GRCh38_pon.vcf.gz"
                        }
                        'test' {
                                baits = "${baseDir}/assets/kits/hg38_no_alt_p14/test/test-baits.interval_list"
                                targets = "${baseDir}/assets/kits/hg38_no_alt_p14/test/test-targets.interval_list"
                                cnv_ref = "${baseDir}/assets/cnvkit/hg38/Homo_sapiens_GRCh38_no_alts.xgen_v2.125.20220405.cnn.gz"
				missing = "${baseDir}/assets/kits/hg38_no_alt_p14/idt_xgen_v2/known_missing.txt"
                                kill = "${baseDir}/assets/kits/hg38_no_alt_p14/idt_xgen_v2/kill.txt"
				mutect_pon = "${gatk_bundle_path}/hg38_no_alt_p14/mutect/xgen_v2_GRCh38_pon.vcf.gz"
                        }
                }

		
        }
        
  }
  
}
