params {

   vep_cache_dir = "${genomes_base}/vep"
   vep_plugin_dir =" ${genomes_base}/vep/plugins"

   genomes {

        'refs' {
            vep_ref = "https://ftp.ensembl.org/pub/release-109/variation/vep/homo_sapiens_vep_109_GRCh38.tar.gz"
            vep_plugin_ref = "https://github.com/Ensembl/VEP_plugins/archive/refs/heads/release/109.zip"
            dbsnp_ref = "s3://ngi-igenomes/igenomes/Homo_sapiens/GATK/GRCh38/Annotation/GATKBundle/dbsnp_146.hg38.vcf.gz"
            g1k_ref = "s3://ngi-igenomes/igenomes/Homo_sapiens/GATK/GRCh38/Annotation/GATKBundle/1000G_phase1.snps.high_confidence.hg38.vcf.gz"
            mills_ref = "s3://ngi-igenomes/igenomes/Homo_sapiens/GATK/GRCh38/Annotation/GATKBundle/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz"
            axiom_ref = "s3://ngi-igenomes/igenomes/Homo_sapiens/GATK/GRCh38/Annotation/GATKBundle/Axiom_Exome_Plus.genotypes.all_populations.poly.hg38.vcf.gz"
            gnomad_ref = "https://www.bcgsc.ca/downloads/morinlab/reference/af-only-gnomad.hg38.vcf.gz"
            omni_ref = "s3://ngi-igenomes/igenomes/Homo_sapiens/GATK/GRCh38/Annotation/GATKBundle/1000G_omni2.5.hg38.vcf.gz"
            hapmap_ref = "s3://ngi-igenomes/igenomes/Homo_sapiens/GATK/GRCh38/Annotation/GATKBundle/hapmap_3.3.hg38.vcf.gz"
        }

        'GRCh38' {
		fasta = "${genomes_base}/GRCh38/GRCh38.fasta"
		bwa_index = "${genomes_base}/GRCh38/bwa/GRCh38.fasta"
                bwa2_index = "${genomes_base}/GRCh38/bwa2/GRCh38.fasta"
                dragmap_index = "${genomes_base}/GRCh38/dragmap/"
                fai = "${genomes_base}/GRCh38/GRCh38.fasta.fai"
                dict = "${genomes_base}/GRCh38/GRCh38.dict"

                dbsnp = "${genomes_base}/GRCh38/dbsnp_146.hg38.vcf.gz"
                g1k = "${genomes_base}/GRCh38/1000G_phase1.snps.high_confidence.hg38.vcf.gz"
                mills = "${genomes_base}/GRCh38/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz"
                axiom = "${genomes_base}/GRCh38/Axiom_Exome_Plus.genotypes.all_populations.poly.hg38.vcf.gz"
                gnomad = "${genomes_base}/GRCh38/af-only-gnomad.hg38.vcf.gz"
                omni = "${genomes_base}/GRCh38/1000G_omni2.5.hg38.vcf.gz"
                hapmap = "${genomes_base}/GRCh38/hapmap_3.3.hg38.vcf.gz"

		fasta_ref = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCA/000/001/405/GCA_000001405.15_GRCh38/seqs_for_alignment_pipelines.ucsc_ids/GCA_000001405.15_GRCh38_full_plus_hs38d1_analysis_set.fna.gz"
                report_ref = null
                dragmap_ref = null

		sry_bed = "${baseDir}/assets/qc/GRCh38/sry.GRCh38.bed"
                expansion_catalog = "${baseDir}/assets/expansion_hunter/GRCh38/variant_catalog.json"
                gtf = "ftp://ftp.ensembl.org/pub/release-109/gff3/homo_sapiens/Homo_sapiens.GRCh38.109.chr.gff3.gz"
                
		panels {
                        'cardio_dilatative' {
                                list = "${baseDir}/assets/panels/gene_lists/cardio_dcm.txt"
                                description = "Dilatative_Kardiomyopathie"
                                bed = "${baseDir}/assets/panels/GRCh38/cardio_dcm.GRCh38.bed"
                                intervals = "${baseDir}/assets/panels/GRCh38/cardio_dcm.GRCh38.interval_list"
                        }
                        'cardio_hypertrophic' {
                                list = "${baseDir}/assets/panels/gene_lists/cardio_hcm.txt"
                                description = "Hypertrophe_Kardiomyopathie"
                                bed = "${baseDir}/assets/panels/GRCh38/cardio_hcm.GRCh38.bed"
                                intervals = "${baseDir}/assets/panels/GRCh38/cardio_hcm.GRCh38.interval_list"
                        }
                        'cardio_non_compaction' {
                                list = "${baseDir}/assets/panels/gene_lists/cardio_non_compaction.txt"
                                description = "Non-Compaction_Kardiomyopathie"
                                bed = "${baseDir}/assets/panels/GRCh38/cardio_non_compaction.GRCh38.bed"
                                intervals = "${baseDir}/assets/panels/GRCh38/cardio_non_compaction.GRCh38.interval_list"
                        }
                        'IMM_AGG' {
                                list = "${baseDir}/assets/panels/gene_lists/Gene_Immundefekt_Agammaglobulinaemie-25kb.txt"
                                description = "Gene Immundefekt AKMangelsyndrome 25kb"
                                bed = "${baseDir}/assets/panels/GRCh38/Gene_Immundefekt_Agammaglobulinaemie-25kb.GRCh38.bed"
                                intervals = "${baseDir}/assets/panels/GRCh38/Gene_Immundefekt_Agammaglobulinaemie-25kb.GRCh38.interval_list"
                        }
                        'IMM_HGG' {
                                list = "${baseDir}/assets/panels/gene_lists/Gene_Immundefekt_Hypogammaglobulinaemie-25kb.txt"
                                description = "Gene Immundefekt CVID 25kb"
                                bed = "${baseDir}/assets/panels/GRCh38/Gene_Immundefekt_Hypogammaglobulinaemie-25kb.GRCh38.bed"
                                intervals = "${baseDir}/assets/panels/GRCh38/Gene_Immundefekt_Hypogammaglobulinaemie-25kb.GRCh38.interval_list"
                        }
                        'IMM' {
                                list = "${baseDir}/assets/panels/gene_lists/Gene_Immundefekt_grosses_Panel.txt"
                                description = "Gene Immundefekt FULL"
                                bed = "${baseDir}/assets/panels/GRCh38/Gene_Immundefekt_grosses_Panel.GRCh38.bed"
                                intervals = "${baseDir}/assets/panels/GRCh38/Gene_Immundefekt_grosses_Panel.GRCh38.interval_list"
                        }
                        'IMM_IBD' {
                                list = "${baseDir}/assets/panels/gene_lists/Gene_Immundefekt_intestinal-25kb.txt"
                                description = "Gene Immundefekt mit intestinaler Beteiligung 25kb"
                                bed = "${baseDir}/assets/panels/GRCh38/Gene_Immundefekt_intestinal-25kb.GRCh38.bed"
                                intervals = "${baseDir}/assets/panels/GRCh38/Gene_Immundefekt_intestinal-25kb.GRCh38.interval_list"
                        }
			'breast_cancer' {
                                list = "${baseDir}/assets/panels/gene_lists/breast_cancer.txt"
                                description = "Gene Brustkrebs"
                                bed = "${baseDir}/assets/panels/GRCh38/breast_cancer.GRCh38.bed"
                                intervals = "${baseDir}/assets/panels/GRCh38/breast_cancer.GRCh38.interval_list"
                        }
                        'Liver' {
                                list = "${baseDir}/assets/panels/gene_lists/Gene_Lebererkankung.txt"
                                description = "Gene Lebererkrankung"
                                bed = "${baseDir}/assets/panels/GRCh38/Gene_Lebererkankung.GRCh38.bed"
                                intervals = "${baseDir}/assets/panels/GRCh38/Gene_Lebererkankung.GRCh38.interval_list"

                        }
                        'Intellectual_disability' {
                                description = "Intellektuelle Behinderung"
                                bed = "${baseDir}/assets/panels/GRCh38/intellectual_disability.GRCh38.bed"
                                intervals = "${baseDir}/assets/panels/GRCh38/intellectual_disability.GRCh38.interval_list"
                        }

                }

                kits {
                        'xGen_v2' {
                                baits = "${baseDir}/assets/kits/GRCh38/idt_xgen_v2/xgen-exome-research-panel-probes-v2.interval_list"
                                targets = "${baseDir}/assets/kits/GRCh38/idt_xgen_v2/xgen-exome-research-panel-targets-v2.interval_list"
                                missing = "${baseDir}/assets/kits/GRCh38/idt_xgen_v2/known_missing.txt"
                                kill = "${baseDir}/assets/kits/GRCh38/idt_xgen_v2/kill.txt"
                                cnv_ref = "${baseDir}/assets/cnvkit/GRCh38/Homo_sapiens_GRCh38_no_alts.xgen_v2.125.20220405.cnn.gz"
                        }
                }

		
        }
        'GRCh38_no_alt' {

		fasta = "${genomes_base}/GRCh38_no_alt/GRCh38_no_alt.fasta"
                bwa2_index = "${genomes_base}/GRCh38_no_alt/bwa2/GRCh38_no_alt.fasta"
                bwa_index = "${genomes_base}/GRCh38_no_alt/bwa/GRCh38_no_alt.fasta"
                dragmap_index = "${genomes_base}/GRCh38_no_alt/dragmap/"
                fai = "${genomes_base}/GRCh38_no_alt/GRCh38_no_alt.fasta.fai"
                dict = "${genomes_base}/GRCh38_no_alt/GRCh38_no_alt.dict"

		dbsnp = "${genomes_base}/GRCh38_no_alt/dbsnp_146.hg38.vcf.gz"
                g1k = "${genomes_base}/GRCh38_no_alt/1000G_phase1.snps.high_confidence.hg38.vcf.gz"
                mills = "${genomes_base}/GRCh38_no_alt/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz"
                axiom = "${genomes_base}/GRCh38_no_alt/Axiom_Exome_Plus.genotypes.all_populations.poly.hg38.vcf.gz"
                gnomad = "${genomes_base}/GRCh38_no_alt/af-only-gnomad.hg38.vcf.gz"
                omni = "${genomes_base}/GRCh38_no_alt/1000G_omni2.5.hg38.vcf.gz"
                hapmap = "${genomes_base}/GRCh38_no_alt/hapmap_3.3.hg38.vcf.gz"

		fasta_ref = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCA/000/001/405/GCA_000001405.15_GRCh38/seqs_for_alignment_pipelines.ucsc_ids/GCA_000001405.15_GRCh38_no_alt_plus_hs38d1_analysis_set.fna.gz"
                report_ref = null
                dragmap_ref = "https://webdata.illumina.com/downloads/software/dragen/hg38%2Balt_masked%2Bcnv%2Bgraph%2Bhla%2Brna-8-r2.0-1.run"

		sry_bed = "${baseDir}/assets/qc/GRCh38/sry.GRCh38.bed"
                expansion_catalog = "${baseDir}/assets/expansion_hunter/GRCh38/variant_catalog.json"
                gtf = "ftp://ftp.ensembl.org/pub/release-109/gff3/homo_sapiens/Homo_sapiens.GRCh38.109.chr.gff3.gz"

		panels {
                        'cardio_dilatative' {
                                list = "${baseDir}/assets/panels/gene_lists/cardio_dcm.txt"
                                description = "Dilatative_Kardiomyopathie"
                                bed = "${baseDir}/assets/panels/GRCh38_no_alt/cardio_dcm.GRCh38.bed"
                                intervals = "${baseDir}/assets/panels/GRCh38_no_alt/cardio_dcm.GRCh38.interval_list"
                        }
                        'cardio_hypertrophic' {
                                list = "${baseDir}/assets/panels/gene_lists/cardio_hcm.txt"
                                description = "Hypertrophe_Kardiomyopathie"
                                bed = "${baseDir}/assets/panels/GRCh38_no_alt/cardio_hcm.GRCh38.bed"
                                intervals = "${baseDir}/assets/panels/GRCh38_no_alt/cardio_hcm.GRCh38.interval_list"
                        }
                        'cardio_non_compaction' {
                                list = "${baseDir}/assets/panels/gene_lists/cardio_non_compaction.txt"
                                description = "Non-Compaction_Kardiomyopathie"
                                bed = "${baseDir}/assets/panels/GRCh38_no_alt/cardio_non_compaction.GRCh38.bed"
                                intervals = "${baseDir}/assets/panels/GRCh38_no_alt/cardio_non_compaction.GRCh38.interval_list"
                        }
                        'IMM_AGG' {
                                list = "${baseDir}/assets/panels/gene_lists/Gene_Immundefekt_Agammaglobulinaemie-25kb.txt"
                                description = "Gene Immundefekt AKMangelsyndrome 25kb"
                                bed = "${baseDir}/assets/panels/GRCh38_no_alt/Gene_Immundefekt_Agammaglobulinaemie-25kb.GRCh38.bed"
                                intervals = "${baseDir}/assets/panels/GRCh38_no_alt/Gene_Immundefekt_Agammaglobulinaemie-25kb.GRCh38.interval_list"
                        }
                        'IMM_HGG' {
                                list = "${baseDir}/assets/panels/gene_lists/Gene_Immundefekt_Hypogammaglobulinaemie-25kb.txt"
                                description = "Gene Immundefekt CVID 25kb"
                                bed = "${baseDir}/assets/panels/GRCh38_no_alt/Gene_Immundefekt_Hypogammaglobulinaemie-25kb.GRCh38.bed"
                                intervals = "${baseDir}/assets/panels/GRCh38_no_alt/Gene_Immundefekt_Hypogammaglobulinaemie-25kb.GRCh38.interval_list"
                        }
                        'IMM' {
                                list = "${baseDir}/assets/panels/gene_lists/Gene_Immundefekt_grosses_Panel.txt"
                                description = "Gene Immundefekt FULL"
                                bed = "${baseDir}/assets/panels/GRCh38_no_alt/Gene_Immundefekt_grosses_Panel.GRCh38.bed"
                                intervals = "${baseDir}/assets/panels/GRCh38_no_alt/Gene_Immundefekt_grosses_Panel.GRCh38.interval_list"
                        }
                        'IMM_IBD' {
                                list = "${baseDir}/assets/panels/gene_lists/Gene_Immundefekt_intestinal-25kb.txt"
                                description = "Gene Immundefekt mit intestinaler Beteiligung 25kb"
                                bed = "${baseDir}/assets/panels/GRCh38_no_alt/Gene_Immundefekt_intestinal-25kb.GRCh38.bed"
                                intervals = "${baseDir}/assets/panels/GRCh38_no_alt/Gene_Immundefekt_intestinal-25kb.GRCh38.interval_list"
                        }
			'breast_cancer' {
                                list = "${baseDir}/assets/panels/gene_lists/breast_cancer.txt"
                                description = "Gene Brustkrebs"
                                bed = "${baseDir}/assets/panels/GRCh38_no_alt/breast_cancer.GRCh38.bed"
                                intervals = "${baseDir}/assets/panels/GRCh38_no_alt/breast_cancer.GRCh38.interval_list"
                        }
                        'Liver' {
                                list = "${baseDir}/assets/panels/gene_lists/Gene_Lebererkankung.txt"
                                description = "Gene Lebererkrankung"
                                bed = "${baseDir}/assets/panels/GRCh38_no_alt/Gene_Lebererkankung.GRCh38.bed"
                                intervals = "${baseDir}/assets/panels/GRCh38_no_alt/Gene_Lebererkankung.GRCh38.interval_list"

                        }
                        'Intellectual_disability' {
                                description = "Intellektuelle Behinderung"
                                bed = "${baseDir}/assets/panels/GRCh38_no_alt/intellectual_disability.GRCh38.bed"
                                intervals = "${baseDir}/assets/panels/GRCh38_no_alt/intellectual_disability.GRCh38.interval_list"
                        }
                }

                kits {
                        'xGen_v2' {
                                baits = "${baseDir}/assets/kits/GRCh38_no_alt/idt_xgen_v2/xgen-exome-research-panel-probes-v2.interval_list"
                                targets = "${baseDir}/assets/kits/GRCh38_no_alt/idt_xgen_v2/xgen-exome-research-panel-targets-v2.interval_list"
                                missing = "${baseDir}/assets/kits/GRCh38_no_alt/idt_xgen_v2/known_missing.txt"
                                kill = "${baseDir}/assets/kits/GRCh38_no_alt/idt_xgen_v2/kill.txt"
                                cnv_ref = "${baseDir}/assets/cnvkit/GRCh38/Homo_sapiens_GRCh38_no_alts.xgen_v2.125.20220405.cnn.gz"
                        }
                        'test' {
                                baits = "${baseDir}/assets/kits/GRCh38_no_alt/test/test-baits.interval_list"
                                targets = "${baseDir}/assets/kits/GRCh38_no_alt/test/test-targets.interval_list"
                                cnv_ref = "${baseDir}/assets/cnvkit/GRCh38/Homo_sapiens_GRCh38_no_alts.xgen_v2.125.20220405.cnn.gz"
                                missing = "${baseDir}/assets/kits/GRCh38_no_alt/idt_xgen_v2/known_missing.txt"
                                kill = "${baseDir}/assets/kits/GRCh38_no_alt/idt_xgen_v2/kill.txt"
                        }


                }
	
        }
        'GRCh38_p14' {

		fasta = "${genomes_base}/GRCh38_p14/GRCh38_p14.fasta"
                bwa2_index = "${genomes_base}/GRCh38_p14/bwa2/GRCh38_p14.fasta"
		bwa_index = "${genomes_base}/GRCh38}/bwa/GRCh38_p14.fasta"
                dragmap_index = "${genomes_base}/GRCh38_p14/dragmap/"
                fai = "${genomes_base}/GRCh38_p14/GRCh38_p14.fasta.fai"
                dict = "${genomes_base}/GRCh38_p14/GRCh38_p14.dict"

                dbsnp = "${genomes_base}/GRCh38_p14/dbsnp_146.hg38.vcf.gz"
                g1k = "${genomes_base}/GRCh38_p14/1000G_phase1.snps.high_confidence.hg38.vcf.gz"
                mills = "${genomes_base}/GRCh38_p14/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz"
                axiom = "${genomes_base}/GRCh38_p14/Axiom_Exome_Plus.genotypes.all_populations.poly.hg38.vcf.gz"
                gnomad = "${genomes_base}/GRCh38_p14/af-only-gnomad.hg38.vcf.gz"
                omni = "${genomes_base}/GRCh38_p14/1000G_omni2.5.hg38.vcf.gz"
                hapmap = "${genomes_base}/GRCh38_p14/hapmap_3.3.hg38.vcf.gz"

		fasta_ref = "ftp://ftp.ncbi.nlm.nih.gov/genomes/all/annotation_releases/9606/GCF_000001405.40-RS_2023_03/GCF_000001405.40_GRCh38.p14_genomic.fna.gz"
                report_ref = "ftp://ftp.ncbi.nlm.nih.gov/genomes/all/annotation_releases/9606/GCF_000001405.40-RS_2023_03/GCF_000001405.40_GRCh38.p14_assembly_report.txt"
                dragmap_ref = null

                sry_bed = "${baseDir}/assets/qc/GRCh38/sry.GRCh38.bed"
                expansion_catalog = "${baseDir}/assets/expansion_hunter/GRCh38/variant_catalog.json"
                gtf = "ftp://ftp.ensembl.org/pub/release-109/gff3/homo_sapiens/Homo_sapiens.GRCh38.109.chr.gff3.gz"
		panels {
                        'cardio_dilatative' {
                                list = "${baseDir}/assets/panels/gene_lists/cardio_dcm.txt"
                                description = "Dilatative_Kardiomyopathie"
                                bed = "${baseDir}/assets/panels/GRCh38_p14/cardio_dcm.GRCh38.bed"
                                intervals = "${baseDir}/assets/panels/GRCh38_p14/cardio_dcm.GRCh38.interval_list"
                        }
                        'cardio_hypertrophic' {
                                list = "${baseDir}/assets/panels/gene_lists/cardio_hcm.txt"
                                description = "Hypertrophe_Kardiomyopathie"
                                bed = "${baseDir}/assets/panels/GRCh38_p14/cardio_hcm.GRCh38.bed"
                                intervals = "${baseDir}/assets/panels/GRCh38_p14/cardio_hcm.GRCh38.interval_list"
                        }
                        'cardio_non_compaction' {
                                list = "${baseDir}/assets/panels/gene_lists/cardio_non_compaction.txt"
                                description = "Non-Compaction_Kardiomyopathie"
                                bed = "${baseDir}/assets/panels/GRCh38_p14/cardio_non_compaction.GRCh38.bed"
                                intervals = "${baseDir}/assets/panels/GRCh38_p14/cardio_non_compaction.GRCh38.interval_list"
                        }
                        'IMM_AGG' {
                                list = "${baseDir}/assets/panels/gene_lists/Gene_Immundefekt_Agammaglobulinaemie-25kb.txt"
                                description = "Gene Immundefekt AKMangelsyndrome 25kb"
                                bed = "${baseDir}/assets/panels/GRCh38_p14/Gene_Immundefekt_Agammaglobulinaemie-25kb.GRCh38.bed"
                                intervals = "${baseDir}/assets/panels/GRCh38_p14/Gene_Immundefekt_Agammaglobulinaemie-25kb.GRCh38.interval_list"
                        }
                        'IMM_HGG' {
                                list = "${baseDir}/assets/panels/gene_lists/Gene_Immundefekt_Hypogammaglobulinaemie-25kb.txt"
                                description = "Gene Immundefekt CVID 25kb"
                                bed = "${baseDir}/assets/panels/GRCh38_p14/Gene_Immundefekt_Hypogammaglobulinaemie-25kb.GRCh38.bed"
                                intervals = "${baseDir}/assets/panels/GRCh38_p14/Gene_Immundefekt_Hypogammaglobulinaemie-25kb.GRCh38.interval_list"
                        }
                        'IMM' {
                                list = "${baseDir}/assets/panels/gene_lists/Gene_Immundefekt_grosses_Panel.txt"
                                description = "Gene Immundefekt FULL"
                                bed = "${baseDir}/assets/panels/GRCh38_p14/Gene_Immundefekt_grosses_Panel.GRCh38.bed"
                                intervals = "${baseDir}/assets/panels/GRCh38_p14/Gene_Immundefekt_grosses_Panel.GRCh38.interval_list"
                        }
                        'IMM_IBD' {
                                list = "${baseDir}/assets/panels/gene_lists/Gene_Immundefekt_intestinal-25kb.txt"
                                description = "Gene Immundefekt mit intestinaler Beteiligung 25kb"
                                bed = "${baseDir}/assets/panels/GRCh38_p14/Gene_Immundefekt_intestinal-25kb.GRCh38.bed"
                                intervals = "${baseDir}/assets/panels/GRCh38_p14/Gene_Immundefekt_intestinal-25kb.GRCh38.interval_list"
                        }
                        'breast_cancer' {
                                list = "${baseDir}/assets/panels/gene_lists/breast_cancer.txt"
                                description = "Gene Brustkrebs"
                                bed = "${baseDir}/assets/panels/GRCh38_p14/breast_cancer.GRCh38.bed"
                                intervals = "${baseDir}/assets/panels/GRCh38_p14/breast_cancer.GRCh38.interval_list"
                        }
                        'Liver' {
                                list = "${baseDir}/assets/panels/gene_lists/Gene_Lebererkankung.txt"
                                description = "Gene Lebererkrankung"
                                bed = "${baseDir}/assets/panels/GRCh38_p14/Gene_Lebererkankung.GRCh38.bed"
                                intervals = "${baseDir}/assets/panels/GRCh38_p14/Gene_Lebererkankung.GRCh38.interval_list"

                        }
                        'Intellectual_disability' {
                                description = "Intellektuelle Behinderung"
                                bed = "${baseDir}/assets/panels/GRCh38_p14/intellectual_disability.GRCh38.bed"
                                intervals = "${baseDir}/assets/panels/GRCh38_p14/intellectual_disability.GRCh38.interval_list"
                        }
		}

                kits {
                        'xGen_v2' {
                                baits = "${baseDir}/assets/kits/GRCh38_p14/idt_xgen_v2/xgen-exome-research-panel-probes-v2.interval_list"
                                targets = "${baseDir}/assets/kits/GRCh38_p14/idt_xgen_v2/xgen-exome-research-panel-targets-v2.interval_list"
                                missing = "${baseDir}/assets/kits/GRCh38_p14/idt_xgen_v2/known_missing.txt"
                                kill = "${baseDir}/assets/kits/GRCh38_p14/idt_xgen_v2/kill.txt"
                                cnv_ref = "${baseDir}/assets/cnvkit/GRCh38/Homo_sapiens_GRCh38_no_alts.xgen_v2.125.20220405.cnn.gz"
                        }

                }
        }
        'GRCh38_no_alt_p14' {

                fasta = "${genomes_base}/GRCh38_no_alt_p14/Homo_sapiens_no_alt_p14.fasta"
                bwa2_index = "${genomes_base}/GRCh38_no_alt_p14/bwa2/GRCh38_no_alt_p14.fasta"
		bwa_index = "${genomes_base}/GRCh38_no_alt_p14/bwa/GRCh38_no_alt_p14.fasta"
		dragmap_index = "${genomes_base}/GRCh38_no_alt_p14/dragmap/"
                fai = "${genomes_base}/GRCh38_no_alt_p14/GRCh38_no_alt_p14.fasta.fai"
                dict = "${genomes_base}/GRCh38_no_alt_p14/GRCh38_no_alt_p14.dict"

                dbsnp = "${genomes_base}/GRCh38_no_alt_p14/dbsnp_146.hg38.vcf.gz"
		g1k = "${genomes_base}/GRCh38_no_alt_p14/1000G_phase1.snps.high_confidence.hg38.vcf.gz"
                mills = "${genomes_base}/GRCh38_no_alt_p14/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz"
                axiom = "${genomes_base}/GRCh38_no_alt_p14/Axiom_Exome_Plus.genotypes.all_populations.poly.hg38.vcf.gz"
		gnomad = "${genomes_base}/GRCh38_no_alt_p14/af-only-gnomad.hg38.vcf.gz"
                omni = "${genomes_base}/GRCh38_no_alt_p14/1000G_omni2.5.hg38.vcf.gz"
                hapmap = "${genomes_base}/GRCh38_no_alt_p14/hapmap_3.3.hg38.vcf.gz"

		fasta_ref = "ftp://ftp.ncbi.nlm.nih.gov/genomes/all/annotation_releases/9606/GCF_000001405.40-RS_2023_03/GCF_000001405.40_GRCh38.p14_genomic.fna.gz"
                report_ref = "ftp://ftp.ncbi.nlm.nih.gov/genomes/all/annotation_releases/9606/GCF_000001405.40-RS_2023_03/GCF_000001405.40_GRCh38.p14_assembly_report.txt"
                dragmap_ref = null

                sry_bed = "${baseDir}/assets/qc/GRCh38_no_alt/sry.GRCh38.bed"
                expansion_catalog = "${baseDir}/assets/expansion_hunter/GRCh38/variant_catalog.json"
                gtf = "ftp://ftp.ensembl.org/pub/release-109/gff3/homo_sapiens/Homo_sapiens.GRCh38.109.chr.gff3.gz"
		panels {
                        'cardio_dilatative' {
                                list = "${baseDir}/assets/panels/gene_lists/cardio_dcm.txt"
                                description = "Dilatative_Kardiomyopathie"
                                bed = "${baseDir}/assets/panels/GRCh38_no_alt_p14/cardio_dcm.GRCh38.bed"
                                intervals = "${baseDir}/assets/panels/GRCh38_no_alt_p14/cardio_dcm.GRCh38.interval_list"
                        }
                        'cardio_hypertrophic' {
                                list = "${baseDir}/assets/panels/gene_lists/cardio_hcm.txt"
                                description = "Hypertrophe_Kardiomyopathie"
                                bed = "${baseDir}/assets/panels/GRCh38_no_alt_p14/cardio_hcm.GRCh38.bed"
                                intervals = "${baseDir}/assets/panels/GRCh38_no_alt_p14/cardio_hcm.GRCh38.interval_list"
                        }
                        'cardio_non_compaction' {
                                list = "${baseDir}/assets/panels/gene_lists/cardio_non_compaction.txt"
                                description = "Non-Compaction_Kardiomyopathie"
                                bed = "${baseDir}/assets/panels/GRCh38_no_alt_p14/cardio_non_compaction.GRCh38.bed"
                                intervals = "${baseDir}/assets/panels/GRCh38_no_alt_p14/cardio_non_compaction.GRCh38.interval_list"
                        }
                        'IMM_AGG' {
                                list = "${baseDir}/assets/panels/gene_lists/Gene_Immundefekt_Agammaglobulinaemie-25kb.txt"
                                description = "Gene Immundefekt AKMangelsyndrome 25kb"
                                bed = "${baseDir}/assets/panels/GRCh38_no_alt_p14/Gene_Immundefekt_Agammaglobulinaemie-25kb.GRCh38.bed"
                                intervals = "${baseDir}/assets/panels/GRCh38_no_alt_p14/Gene_Immundefekt_Agammaglobulinaemie-25kb.GRCh38.interval_list"
                        }
                        'IMM_HGG' {
                                list = "${baseDir}/assets/panels/gene_lists/Gene_Immundefekt_Hypogammaglobulinaemie-25kb.txt"
                                description = "Gene Immundefekt CVID 25kb"
                                bed = "${baseDir}/assets/panels/GRCh38_no_alt_p14/Gene_Immundefekt_Hypogammaglobulinaemie-25kb.GRCh38.bed"
                                intervals = "${baseDir}/assets/panels/GRCh38_no_alt_p14/Gene_Immundefekt_Hypogammaglobulinaemie-25kb.GRCh38.interval_list"
                        }
                        'IMM' {
                                list = "${baseDir}/assets/panels/gene_lists/Gene_Immundefekt_grosses_Panel.txt"
                                description = "Gene Immundefekt FULL"
                                bed = "${baseDir}/assets/panels/GRCh38_no_alt_p14/Gene_Immundefekt_grosses_Panel.GRCh38.bed"
                                intervals = "${baseDir}/assets/panels/GRCh38_no_alt_p14/Gene_Immundefekt_grosses_Panel.GRCh38.interval_list"
                        }
                        'IMM_IBD' {
                                list = "${baseDir}/assets/panels/gene_lists/Gene_Immundefekt_intestinal-25kb.txt"
                                description = "Gene Immundefekt mit intestinaler Beteiligung 25kb"
                                bed = "${baseDir}/assets/panels/GRCh38_no_alt_p14/Gene_Immundefekt_intestinal-25kb.GRCh38.bed"
                                intervals = "${baseDir}/assets/panels/GRCh38_no_alt_p14/Gene_Immundefekt_intestinal-25kb.GRCh38.interval_list"
                        }
                        'breast_cancer' {
                                list = "${baseDir}/assets/panels/gene_lists/breast_cancer.txt"
                                description = "Gene Brustkrebs"
                                bed = "${baseDir}/assets/panels/GRCh38_no_alt_p14/breast_cancer.GRCh38.bed"
                                intervals = "${baseDir}/assets/panels/GRCh38_no_alt_p14/breast_cancer.GRCh38.interval_list"
                        }
			'Liver' {
                                list = "${baseDir}/assets/panels/gene_lists/Gene_Lebererkankung.txt"
                                description = "Gene Lebererkrankung"
                                bed = "${baseDir}/assets/panels/GRCh38_no_alt_p14/Gene_Lebererkankung.GRCh38.bed"
                                intervals = "${baseDir}/assets/panels/GRCh38_no_alt_p14/Gene_Lebererkankung.GRCh38.interval_list"

                        }
                        'Intellectual_disability' {
                                description = "Intellektuelle Behinderung"
                                bed = "${baseDir}/assets/panels/GRCh38_no_alt_p14/intellectual_disability.GRCh38.bed"
                                intervals = "${baseDir}/assets/panels/GRCh38_no_alt_p14/intellectual_disability.GRCh38.interval_list"
                        }

                }
                kits {
                        'xGen_v2' {
                                baits = "${baseDir}/assets/kits/GRCh38_no_alt_p14/idt_xgen_v2/xgen-exome-research-panel-probes-v2.interval_list"
                                targets = "${baseDir}/assets/kits/GRCh38_no_alt_p14/idt_xgen_v2/xgen-exome-research-panel-targets-v2.interval_list"
                                missing = "${baseDir}/assets/kits/GRCh38_no_alt_p14/idt_xgen_v2/known_missing.txt"
                                kill = "${baseDir}/assets/kits/GRCh38_no_alt_p14/idt_xgen_v2/kill.txt"
                                cnv_ref = "${baseDir}/assets/cnvkit/GRCh38/Homo_sapiens_GRCh38_no_alts.xgen_v2.125.20220405.cnn.gz"
                        }
                }

		
        }
        
  }
  
}
