
// Job paramaters to set for this environment

params.vep_cache = "/ifs/data/nfs_share/ikmb_repository/databases/EnsEMBL/vep/cache"
params.vep_fasta = "/ifs/data/nfs_share/ikmb_repository/references/genomes/homo_sapiens/EnsEMBL/GRCh37/genome.fa"

params.scratch = true

gatk_bundle_path = "/ifs/data/nfs_share/ikmb_repository/references/gatk/v2"

// Resource manager settings

executor {
  queueSize=100
}

// Process setting

process {
  
  executor = 'slurm'
  queue = 'ikmb_a'
  clusterOptions = { '--qos=ikmb_a' }

}

params {

   genomes {

	'hg19' {
		calibration_exomes_gatk = "/ifs/data/nfs_share/ikmb_repository/references/exomes/calibration_exomes_resorted/gvcf/gatk4/hg19_xGEN/calibration_exomes.list"
                calibration_exomes_samples_args = "/ifs/data/nfs_share/ikmb_repository/references/exomes/calibration_exomes_resorted/gvcf/gatk4/hg19_xGEN/calibration_exomes.samples.args"
	}
	'GRCh37' {
		calibration_exomes = ""
		calibration_exomes_samples_args = ""
	}
	'hg38' {
		calibration_exomes = ""
		calibration_exomes_samples_args = ""
	}

   }


}

