params {

	samples = "https://raw.githubusercontent.com/ikmb/nf-testdata/master/exome-seq/samples.csv"
	kit = "test"
	joint_calling = false
	aligner = "bwa2"
	run_name = "pipeline_test"
	assembly = "GRCh38_no_alt"
	tools = "deepvariant,strelka,manta,gatk,csq,haplosaurus,mutect2,cnvkit,vep"
	max_cpus = 4
	max_time = 2.h
	max_memory = 48.GB

}
