params {

	samples = "/work_beegfs/sukmb352/projects/pipelines/exomes/Test/data/Samples.csv"
	kit = "test"
	joint_calling = true 
	aligner = "bwa2"
	run_name = "pipeline_test"
	assembly = "GRCh38"
	tools = "deepvariant,strelka,manta,gatk,csq,haplosaurus,vep,mutect2,cnvkit"

	max_cpus = 4
	max_time = 2.h
	max_memory = 32.GB

}
