params {

	samples = "https://raw.githubusercontent.com/ikmb/nf-testdata/master/exome-seq/samples.csv"
	kit = "test"
	joint_calling = false
	aligner = "dragmap"
	run_name = "pipeline_test"
	assembly = "hg38"
	tools = "deepvariant,strelka,manta,gatk,csq,haplosaurus,vep,mutect2,cnvkit"

	max_cpus = 4
	max_time = 2.h
	max_memory = 48.GB

}
