
// Job paramaters to set for this environment


process {

  withName:runBWA {
	conda = "bwa=0.7.17 samtools=1.5"
	memory = { check_max( 64.GB * task.attempt, 'memory' ) }
	time = { check_max( 4.h * task.attempt, 'time' ) }
	cpus = { check_max( 16 * task.attempt, 'cpus' ) }
  }
  withName:runFastp {
	conda = "fastp=0.19.4"
	time = { check_max( 5.h * task.attempt, 'time' ) }
    	memory = { check_max( 8.GB * task.attempt, 'memory' ) }
	cpus = 8
  }
  withName:mergeBamFiles_bySample {
	conda = "picard=2.18.7"
        memory = { check_max( 16.GB * task.attempt, 'memory' ) }
        time = { check_max( 2.h * task.attempt, 'time' ) }
        cpus = { check_max( 4 * task.attempt, 'cpus' ) }
  }
  withName:runMarkDuplicates { 
        conda = "picard=2.18.7"
        memory = { check_max( 48.GB * task.attempt, 'memory' ) }
        time = { check_max( 12.h * task.attempt, 'time' ) }
        cpus = { check_max( 2 * task.attempt, 'cpus' ) }
  }

  withName:runBaseRecalibrator {
	conda = "gatk4=4.0.9.0"
        memory = { check_max( 32.GB * task.attempt, 'memory' ) }
        time = { check_max( 12.h * task.attempt, 'time' ) }
        cpus = { check_max( 2 * task.attempt, 'cpus' ) }
  }

  withName:runApplyBQSR {
	conda = "gatk4=4.0.9.0"
        memory = { check_max( 32.GB * task.attempt, 'memory' ) }
        time = { check_max( 48.h * task.attempt, 'time' ) }
  }

  withName:runOxoGMetrics {
        conda = "picard=2.18.4"	
        time = { check_max( 6.h * task.attempt, 'time' ) }
  }

  withName:runHybridCaptureMetrics {
     conda = "picard=2.18.4"   
     time = { check_max( 6.h * task.attempt, 'time' ) }
  }

  withName:runCollectMultipleMetrics {
	conda = "picard=2.18.4"
        memory = { check_max( 25.GB * task.attempt, 'memory' ) }
        time = { check_max( 12.h * task.attempt, 'time' ) }
  }
  withName: "runMultiqcFastq" {
	conda = "multiqc=1.6"
        time = { check_max( 6.h * task.attempt, 'time' ) }
  }
  withName: "runMultiqcLibrary" {
        conda = "multiqc=1.6"
        time = { check_max( 6.h * task.attempt, 'time' ) }
  }
  withName:runMultiqcSample {
        conda = "multiqc=1.6"
        time = { check_max( 6.h * task.attempt, 'time' ) }
  }
  withName:runMultiqcLibrary {
        conda = "multiqc=1.6"
        time = { check_max( 6.h * task.attempt, 'time' ) }
  }  
  withName:runMultiqcSample {
        conda = "multiqc=1.6"
        time = { check_max( 6.h * task.attempt, 'time' ) }
  }
  withName:runHCSample {
	conda = "gatk4=4.0.9.0"
        memory = { check_max( 25.GB * task.attempt, 'memory' ) }
        time = { check_max( 4.h * task.attempt, 'time' ) }
        cpus = { check_max( 8 * task.attempt, 'cpus' ) }
  }

  withName:runGenomicsDBImport {
	conda = "gatk4=4.0.9.0"
        memory = { check_max( 32.GB * task.attempt, 'memory' ) }
        time = { check_max( 4.h * task.attempt, 'time' ) }
        cpus = { check_max( 8 * task.attempt, 'cpus' ) }
  } 

  withName:runGenotypeGVCFs {
	conda = "gatk4=4.0.9.0"
        memory = { check_max( 48.GB * task.attempt, 'memory' ) }
        time = { check_max( 4.h * task.attempt, 'time' ) }
        cpus = { check_max( 8 * task.attempt, 'cpus' ) }
  }

  withName:runHardFilterIndel {
        conda = "gatk4=4.0.9.0"
	memory = { check_max( 8.GB * task.attempt, 'memory' ) }
        time = { check_max( 4.h * task.attempt, 'time' ) }
        cpus = { check_max( 4 * task.attempt, 'cpus' ) }
  }

  withName:runHardFilterSNP {
        conda = "gatk4=4.0.9.0"
        memory = { check_max( 8.GB * task.attempt, 'memory' ) }
        time = { check_max( 4.h * task.attempt, 'time' ) }
        cpus = { check_max( 4 * task.attempt, 'cpus' ) }
  }
  withName:runRecalibrationModeSNP {
	conda = "gatk4=4.0.9.0"
        memory = { check_max( 25.GB * task.attempt, 'memory' ) }
        time = { check_max( 8.h * task.attempt, 'time' ) }
        cpus = { check_max( 8 * task.attempt, 'cpus' ) }
  }
  withName:runRecalibrationModeIndel {
	conda = "gatk4=4.0.9.0"
        memory = { check_max( 25.GB * task.attempt, 'memory' ) }
        time = { check_max( 8.h * task.attempt, 'time' ) }
        cpus = { check_max( 8 * task.attempt, 'cpus' ) }
  }
  withName:runRecalIndelApply {
	conda = "gatk4=4.0.9.0"
        memory = { check_max( 25.GB * task.attempt, 'memory' ) }
        time = { check_max( 8.h * task.attempt, 'time' ) }
  }
  withName:runRecalSNPApply {
	conda = "gatk4=4.0.9.0"
        memory = { check_max( 32.GB * task.attempt, 'memory' ) }
        time = { check_max( 8.h * task.attempt, 'time' ) }
        cpus = { check_max( 16 * task.attempt, 'cpus' ) }
  } 
  withName:runVariantFiltrationIndel {
	conda = "gatk4=4.0.9.0"
        memory = { check_max( 32.GB * task.attempt, 'memory' ) }
        time = { check_max( 4.h * task.attempt, 'time' ) }
  }
  withName:runCombineHardVariants {
        conda = "picard=2.18.4 gatk4=4.0.9.0"
  }
  withName:runSelectVariants {
  	conda = "gatk4=4.0.9.0"
	time = { check_max( 4.h * task.attempt, 'time' ) }
        memory = { check_max( 8.GB * task.attempt, 'memory' ) }
  }
  withName:runVep {
	conda = "ensembl-vep=93.2"
	memory = { check_max( 16.GB * task.attempt, 'memory' ) }
        time = { check_max( 4.h * task.attempt, 'time' ) }
        cpus = { check_max( 8 * task.attempt, 'cpus' ) }
  }

}



