
// Job paramaters to set for this environment

params.vep_cache = "/mnt/ld_ng_out/sukmb352/references/vep"
params.vep_fasta = "/mnt/ld_ng_out/sukmb352/references/vep/Homo_sapiens.GRCh37.dna.primary_assembly.fa"

params.scratch = true

gatk_bundle_path = "/mnt/ld_ng_out/sukmb352/references/gatk/bundle/2.8"

// Resource manager settings

executor {
  queueSize=100
}

// Process setting

process {
  
  executor = 'slurm'
  queue = 'htc'
 
}

params {
  // Defaults only, expecting to be overwritten
  max_memory = 250.GB
  max_cpus = 20
  max_time = 240.h
  maxMultiqcEmailFileSize = 25.MB
}

