
// Job paramaters to set for this environment

params.outdir = "output" 

params.gatk_jar = "/opt/gatk/3.8.0/GenomeAnalysisTK.jar"
params.picard_jar = "/opt/picard/2.9.2/picard.jar"
params.trimmomatic = "/opt/trimmomatic/0.36"

params.calibration_exomes = "/path/to/calibration_exomes_resorted/calibration_exomes.list"
params.calibration_exomes_samples = "/path/to/calibration_exomes_resorted/calibration_exomes.samples.list"
params.calibration_exomes_samples_args = "/path/to/calibration_exomes_resorted/calibration_exomes.samples.args"

params.vep_cache = "/path/to/EnsEMBL/vep/cache"

params.leading = 3
params.trailing = 3
params.slidingwindow = "4:15"
params.minlen = 36
params.adapters = "NexteraPE-PE.fa"

params.scratch = true

// Resource manager settings

executor {
  name="slurm"
  queueSize=50
}

// Process setting

process {

   container = "/path/to/ikmb-diagnostic-exome.img"

  // Global cluster parameters
  executor = 'slurm'
  queue = 'normal'
  clusterOptions = { '' }
  memory = { 8.GB * task.attempt }
  cpus = { 1 * task.attempt }
  time = { 2.h * task.attempt }
  errorStrategy = { task.exitStatus == 143 ? 'retry' : 'finish' }
  maxRetries = 3
  maxErrors = '-1'
 
  // Specific cluster parameters for each process

  $runBWA {
    memory = "64GB"
    time = { 8.h * task.attempt }
    cpus = 20
  }

  $runTrimmomatic {
     cpus = 10
     time = { 8.h * task.attempt }
     memory = "16GB"
  }

  $mergeBamFiles_bySample {
     cpus = 4
     time = { 2.h * task.attempt }
     memory = "16GB"
  }

  $runMarkDuplicates { 
     memory = "48GB"
     cpus = 2
     time = { 12.h * task.attempt }   
  }

  $runFreebayes {
     cpus = 20
     time = { 12.h * task.attempt }
     memory = "32GB"
  }

  $runConcatVcf {

  }

  $runFilterVcf {

  }

  $runBaseRecalibrator {
    time = { 24.h * task.attempt }
    memory = "64GB"
    cpus = 2
  }

  $runBaseRecalibratorGATK3 {
    time = { 24.h * task.attempt }
    memory = "64GB"
    cpus = 2
  }

  $runPrintReadsGATK3 {
    time = { 24.h * task.attempt }
    memory = "64GB"
    cpus = 2
  }
  
  $runBaseRecalibratorPostRecalGATK3 {
    time = { 8.h * task.attempt }
    memory = "32GB"
    cpus = 2
  }

  $runAnalyzeCovariatesGATK3 {
    time = { 8.h * task.attempt }
    memory = "8GB"
    cpus = 2
  }

  $runHCSampleGATK3 {
    time = { 12.h * task.attempt }
    memory = "24GB"
    cpus = 2
  }

  $runJoinedGenotypingGATK3 {
    time = { 36.h * task.attempt }
    memory = "64GB"
    cpus = 2
  }

  $runRecalibrationModeSNPGATK3 {
    time = { 12.h * task.attempt }
    memory = "24GB"
    cpus = 2
  }

  $runRecalibrationModeIndelGATK3 {
    time = { 12.h * task.attempt }
    memory = "24GB"
    cpus = 2
  }
 
  $runRecalSNPApplyGATK3 {
    time = { 6.h * task.attempt }
    memory = "24GB"
    cpus = 2
  }

  $runRecalIndelApplyGATK3 {
    time = { 6.h * task.attempt }
    memory = "24GB"
    cpus = 2
  }

  $runVariantFiltrationIndelGATK3 {
    time = { 6.h * task.attempt }
    memory = "24GB"
    cpus = 2
  }

  $runCombineVariantsGATK3 {
    time = { 12.h * task.attempt }
    memory = "16GB"
    cpus = 2
  }

  $runRemoveCalibrationExomesGATK3 {
    time = { 4.h * task.attempt }
    memory = "8GB"
    cpus = 2
  }

  $runApplyBQSR {
    time = { 72.h * task.attempt }
    memory = "26GB"
  }

  $runBaseRecalibratorPostRecal {
    time = { 12.h * task.attempt }
  }

  $runAnalyzeCovariates {
    time = { 12.h * task.attempt }
  }
 
  $runDepthOfCoverage { 
    time = { 12.h * task.attempt }
  }

  $runOxoGMetrics {
    time = { 6.h * task.attempt }
    memory = "11GB"
  }

  $runHybridCaptureMetrics {
    time = { 6.h * task.attempt }
    memory = "11GB"
  }

  $runCollectMultipleMetrics {
    time = { 12.h * task.attempt }
    memory = "25GB"
  }

  $runFastQC {
    time = { 6.h * task.attempt }
  }

  $runMultiQCFastq {
     time = {  4.h * task.attempt }
     memory = "7GB"
  }

  $runMultiQCLibrary {
     time = {  4.h * task.attempt }
     memory = "7GB"
  }

  $runMultiQCSample {
     time = {  4.h * task.attempt }
     memory = "7GB"
  }

  $runHCSample {
    cpus=10
    memory = { 25.GB * task.attempt }
    time = { 4.h * task.attempt }
  }

  $runGenomicsDBImport {
     memory = { 25.GB * task.attempt }
     time = { 4.h * task.attempt }
  } 

  $runJoinedGenotyping {
        cpus=10
        memory = { 48.GB * task.attempt }
        time = { 8.h * task.attempt }
  }

  $combineVariantsFromGenotyping {
	time = { 5.h * task.attempt }
	memory = "26GB"
  }

  $runRecalibrationModeSNP {
	cpus=10
	memory = { 25.GB * task.attempt }
	time = { 8.h * task.attempt }
  }

  $runRecalibrationModeIndel {
        cpus=10
        memory = { 25.GB * task.attempt }
        time = { 8.h * task.attempt }
  }

  $runRecalIndelApply {
        memory = { 25.GB * task.attempt }
        time = { 8.h * task.attempt }
  }

  $runRecalSNPApply {
        memory = { 25.GB * task.attempt }
        time = { 8.h * task.attempt }
  } 

  $runVariantFiltrationIndel {
        memory = { 25.GB * task.attempt }
        time = { 4.h * task.attempt }

  }

  $runCombineVariants {
        memory = { 8.GB * task.attempt }
        time = { 2.h * task.attempt }
  }
 
  $runLeftNormalize {

  }

  $runVep {
	cpus = 8
	memory = {32.GB * task.attempt }
	time = { 4.h * task.attempt }
  }

  $runAnnovar {
	time = { 6.h * task.attempt }
	cpus = 8
        memory = {32.GB * task.attempt }
  }		
 
}

params {

   genomes {

	'hg19_clinical' {
		fasta = "/ifs/data/nfs_share/ikmb_repository/references/gatk/bundle/2.8/hg19/clinical/hg19.clinical.fa"
		dict = "/ifs/data/nfs_share/ikmb_repository/references/gatk/bundle/2.8/hg19/clinical/hg19.clinical.dict"
                dbsnp = "/ifs/data/nfs_share/ikmb_repository/references/gatk/bundle/2.8/hg19/dbsnp_138.hg19.vcf.gz"
                gold = "/ifs/data/nfs_share/ikmb_repository/references/gatk/bundle/2.8/hg19/Mills_and_1000G_gold_standard.indels.hg19.sites.vcf.gz"
                g1k = "/ifs/data/nfs_share/ikmb_repository/references/gatk/bundle/2.8/hg19/1000G_phase1.indels.hg19.sites.vcf.gz"
                omni = "/ifs/data/nfs_share/ikmb_repository/references/gatk/bundle/2.8/hg19/1000G_omni2.5.hg19.sites.vcf.gz"
                hapmap = "/ifs/data/nfs_share/ikmb_repository/references/gatk/bundle/2.8/hg19/hapmap_3.3.hg19.sites.vcf.gz"
                exac = "/ifs/data/nfs_share/ikmb_repository/references/exac/0.3.1/ExAC.r0.3.1.sites.vep.vcf.gz"
                cadd = "/ifs/data/nfs_share/ikmb_repository/references/cadd/1.3/whole_genome_SNVs.tsv.gz"
                annovar_db = "/ifs/data/nfs_share/ikmb_repository/software/annovar/2017-09-20/humandb"
                per_sequence_root = "/ifs/data/nfs_share/ikmb_repository/references/gatk/bundle/2.8/hg19/per_chromosome"
                kits {
                        'Nextera' {
                                targets = "/ifs/data/nfs_share/ikmb_repository/references/exomes/nextera_exome_target_2017/hg19_clinical/nexterarapidcapture_exome_target_v1.2_hg19.interval_list"
                                baits = "/ifs/data/nfs_share/ikmb_repository/references/exomes/nextera_exome_target_2017/hg19_clinical/nexterarapidcapture_exome_intervals_v1.2_hg19.interval_list"
                        }
                        'xGen' {
                                targets = "/ifs/data/nfs_share/ikmb_repository/references/exomes/idt_xgen/v1.0/hg19_clinical/xgen-exome-research-panel-targets.interval_list"
                                baits = "/ifs/data/nfs_share/ikmb_repository/references/exomes/idt_xgen/v1.0/hg19_clinical/xgen-exome-research-panel-probes.interval_list"
                        }
                }	
	}
	'hg19' {
		fasta = "/ifs/data/nfs_share/ikmb_repository/references/gatk/bundle/2.8/hg19/ucsc.hg19.fasta"
		dict = "/ifs/data/nfs_share/ikmb_repository/references/gatk/bundle/2.8/hg19/ucsc.hg19.dict"
		dbsnp = "/ifs/data/nfs_share/ikmb_repository/references/gatk/bundle/2.8/hg19/dbsnp_138.hg19.vcf.gz"
		gold = "/ifs/data/nfs_share/ikmb_repository/references/gatk/bundle/2.8/hg19/Mills_and_1000G_gold_standard.indels.hg19.sites.vcf.gz"
		g1k = "/ifs/data/nfs_share/ikmb_repository/references/gatk/bundle/2.8/hg19/1000G_phase1.indels.hg19.sites.vcf.gz"
		omni = "/ifs/data/nfs_share/ikmb_repository/references/gatk/bundle/2.8/hg19/1000G_omni2.5.hg19.sites.vcf.gz"
		hapmap = "/ifs/data/nfs_share/ikmb_repository/references/gatk/bundle/2.8/hg19/hapmap_3.3.hg19.sites.vcf.gz"
		exac = "/ifs/data/nfs_share/ikmb_repository/references/exac/0.3.1/ExAC.r0.3.1.sites.vep.vcf.gz"
		cadd = "/ifs/data/nfs_share/ikmb_repository/references/cadd/1.3/whole_genome_SNVs.tsv.gz"
		annovar_db = "/ifs/data/nfs_share/ikmb_repository/software/annovar/2017-09-20/humandb"
		per_sequence_root = "/ifs/data/nfs_share/ikmb_repository/references/gatk/bundle/2.8/hg19/per_chromosome"
		kits {
      			'Nextera' {
         			targets = "/ifs/data/nfs_share/ikmb_repository/references/exomes/nextera_exome_target_2017/nexterarapidcapture_exome_target_v1.2_hg19.interval_list"
         			baits = "/ifs/data/nfs_share/ikmb_repository/references/exomes/nextera_exome_target_2017/nexterarapidcapture_exome_intervals_v1.2_hg19.interval_list"
      			}
      			'xGen' {
        			targets = "/ifs/data/nfs_share/ikmb_repository/references/exomes/idt_xgen/v1.0/xgen-exome-research-panel-targets.interval_list"
        			baits = "/ifs/data/nfs_share/ikmb_repository/references/exomes/idt_xgen/v1.0/xgen-exome-research-panel-probes.interval_list"
      			}
   		}
	}
	'GRCh37' {
		fasta = "/ifs/data/nfs_share/ikmb_repository/references/gatk/bundle/2.8/b37/human_g1k_v37.clean.fasta"
		dict = "/ifs/data/nfs_share/ikmb_repository/references/gatk/bundle/2.8/b37/human_g1k_v37.clean.dict"
		dbsnp = "/ifs/data/nfs_share/ikmb_repository/references/gatk/bundle/2.8/b37/dbsnp_138.b37.vcf.gz"
		gold = "/ifs/data/nfs_share/ikmb_repository/references/gatk/bundle/2.8/b37/Mills_and_1000G_gold_standard.indels.b37.vcf.gz"
		g1k = "/ifs/data/nfs_share/ikmb_repository/references/gatk/bundle/2.8/b37/1000G_phase1.indels.b37.vcf.gz"
		hapmap = "/ifs/data/nfs_share/ikmb_repository/references/gatk/bundle/2.8/b37/hapmap_3.3.b37.vcf.gz"
		exac = "/ifs/data/nfs_share/ikmb_repository/references/exac/0.3.1/ExAC.r0.3.1.sites.vep.vcf.gz"
		cadd = "/ifs/data/nfs_share/ikmb_repository/references/cadd/1.3/whole_genome_SNVs.tsv.gz"
		annovar_db = "/ifs/data/nfs_share/ikmb_repository/software/annovar/2017-09-20/humandb"
		kits {
			'Nextera' {
         			targets = "/ifs/data/nfs_share/ikmb_repository/references/exomes/nextera_exome_target_2017/nexterarapidcapture_exome_target_v1.2_hg19.interval_list"
         			baits = "/ifs/data/nfs_share/ikmb_repository/references/exomes/nextera_exome_target_2017/nexterarapidcapture_exome_intervals_v1.2_hg19.interval_list"
      			}
      			'xGen' {
        			targets = "/ifs/data/nfs_share/ikmb_repository/references/exomes/idt_xgen/v1.0/xgen-exome-research-panel-targets.interval_list"
        			baits = "/ifs/data/nfs_share/ikmb_repository/references/exomes/idt_xgen/v1.0/xgen-exome-research-panel-probes.interval_list"
      			}
		}
	}
	'hg38' {
                fasta = "/ifs/data/nfs_share/ikmb_repository/references/gatk/bundle/hg38/hg38bundle/Homo_sapiens_assembly38.fasta"
		dict = "/ifs/data/nfs_share/ikmb_repository/references/gatk/bundle/hg38/hg38bundle/Homo_sapiens_assembly38.dict"
                dbsnp = "/ifs/data/nfs_share/ikmb_repository/references/gatk/bundle/hg38/hg38bundle/dbsnp_144.hg38.vcf.gz"
                gold = "/ifs/data/nfs_share/ikmb_repository/references/gatk/bundle/hg38/hg38bundle/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz"
		g1k = "/ifs/data/nfs_share/ikmb_repository/references/gatk/bundle/hg38/hg38bundle/1000G_phase1.snps.high_confidence.hg38.vcf.gz"
		hapmap = "/ifs/data/nfs_share/ikmb_repository/references/gatk/bundle/hg38/hg38bundle/hapmap_3.3.hg38.vcf.gz"
		omni = "/ifs/data/nfs_share/ikmb_repository/references/gatk/bundle/hg38/hg38bundle/1000G_omni2.5.hg38.vcf.gz"
	}
	'test' {
                fasta = "/ifs/data/nfs_share/ikmb_repository/references/gatk/bundle/2.8/test_data/chr17.fa"
		dict = "/ifs/data/nfs_share/ikmb_repository/references/gatk/bundle/2.8/test_data/chr17.dict"
                dbsnp = "/ifs/data/nfs_share/ikmb_repository/references/gatk/bundle/2.8/test_data/dbsnp_138.hg19.vcf.gz"
                gold = "/ifs/data/nfs_share/ikmb_repository/references/gatk/bundle/2.8/test_data/Mills_and_1000G_gold_standard.indels.hg19.sites.vcf.gz"
                g1k = "/ifs/data/nfs_share/ikmb_repository/references/gatk/bundle/2.8/test_data/1000G_phase1.indels.hg19.sites.vcf.gz"
                omni = "/ifs/data/nfs_share/ikmb_repository/references/gatk/bundle/2.8/test_data/1000G_omni2.5.hg19.sites.vcf.gz"
                hapmap = "/ifs/data/nfs_share/ikmb_repository/references/gatk/bundle/2.8/test_data/hapmap_3.3.hg19.sites.vcf.gz"
		exac = "/ifs/data/nfs_share/ikmb_repository/references/exac/0.3.1/ExAC.r0.3.1.sites.vep.vcf.gz"
                cadd = "/ifs/data/nfs_share/ikmb_repository/references/cadd/1.3/whole_genome_SNVs.tsv.gz"
                annovar_db = "/ifs/data/nfs_share/ikmb_repository/software/annovar/2017-09-20/humandb"
		kits {
      			'Nextera' {
         			targets = "/ifs/data/nfs_share/ikmb_repository/references/exomes/test_data/nexterarapidcapture_exome_target_v1.2_hg19.interval_list"
			        baits = "/ifs/data/nfs_share/ikmb_repository/references/exomes/test_data/nexterarapidcapture_exome_intervals_v1.2_hg19.interval_list"
      			}
      			'xGen' {
        			targets = "/ifs/data/nfs_share/ikmb_repository/references/exomes/test_data/xgen-exome-research-panel-targets.interval_list"
        			baits = "/ifs/data/nfs_share/ikmb_repository/references/exomes/test_data/xgen-exome-research-panel-probes.interval_list"
      			}
   		}
        }

   }


}

