
// Job paramaters to set for this environment

params.outdir = "output" 

params.splitter = "split_and_compress.sh"

params.picard_jar = "/opt/picard/2.9.2/picard.jar"
params.trimmomatic = "/opt/trimmomatic/0.36"

params.calibration_exomes = "/opt/calibration_exomes_resorted/calibration_exomes.list"
params.calibration_exomes_samples = "/opt/calibration_exomes_resorted/calibration_exomes.samples.list"

params.leading = 3
params.trailing = 3
params.slidingwindow = "4:15"
params.minlen = 36
params.adapters = "NexteraPE-PE.fa"

params.scratch = true

// Resource manager settings

executor {
  name="slurm"
  queueSize=80
}

// Process setting

process {

  container = "/path/to/ikmb-diagnostic-exomes.img"

  // Global cluster parameters
  executor = 'slurm'
  memory = { 8.GB * task.attempt }
  cpus = { 1 * task.attempt }
  time = { 2.h * task.attempt }
  errorStrategy = { task.exitStatus == 143 ? 'retry' : 'finish' }
  maxRetries = 3
  maxErrors = '-1'
 
  // Specific cluster parameters for each process

  $runBWA {
    memory = "32GB"
    time = { 8.h * task.attempt }
    cpus = 20
  }

  $runTrimmomatic {
     cpus = 10
     time = { 8.h * task.attempt }
     memory = "16GB"
  }

  $runMarkDuplicates { 
     memory = "64GB"
     cpus = 5
     time = { 12.h * task.attempt }   
  }

  $runFreebayes {
     cpus = 20
     time = { 8.h * task.attempt }
     memory = "16GB"
  }

  $runFilterVcf {

  }

  $runBaseRecalibrator {
    time = { 24.h * task.attempt }
    memory = "64GB"
    cpus = 2
  }

  $runPrintReads {
    time = { 24.h * task.attempt }
    memory = { 26.GB * task.attempt }
  }

  $runBaseRecalibratorPostRecal {
    time = { 12.h * task.attempt }
  }

  $runAnalyzeCovariates {
    time = { 12.h * task.attempt }
  }
 
  $runDepthOfCoverage { 
    time = { 12.h * task.attempt }
  }

  $runCollectMultipleMetrics {
    time = { 12.h * task.attempt }
    memory = "25GB"
  }

  $runFastQC {
    time = { 6.h * task.attempt }
  }

  $runMultiQCFastq {
     time = {  4.h * task.attempt }
     memory = "7GB"
  }

  $runMultiQCLibrary {
     time = {  4.h * task.attempt }
     memory = "7GB"
  }

  $runMultiQCSample {
     time = {  4.h * task.attempt }
     memory = "7GB"
  }

  $runHCSample {
    cpus=4
    memory = { 25.GB * task.attempt }
    time = { 4.h * task.attempt }

  }

  $runJoinedGenotyping {
        cpus=8
        memory = { 48.GB * task.attempt }
        time = { 8.h * task.attempt }
  }

  $RunRecalibrationModeSNP {
	cpus=8
	memory = { 25.GB * task.attempt }
	time = { 8.h * task.attempt }
  }

  $RunRecalibrationModeIndel {
        cpus=8
        memory = { 25.GB * task.attempt }
        time = { 8.h * task.attempt }
  }

  $runRcalIndelApply {
        memory = { 25.GB * task.attempt }
        time = { 8.h * task.attempt }
  }

  $runRcalSNPApply {
        memory = { 25.GB * task.attempt }
        time = { 8.h * task.attempt }
  } 

  $runVariantFiltrationIndel {
        memory = { 25.GB * task.attempt }
        time = { 4.h * task.attempt }

  }

  $runCombineVariants {
        memory = { 8.GB * task.attempt }
        time = { 2.h * task.attempt }

  }

  $runVep {
	cpus = 8
	memory = {32.GB * task.attempt }
	time = { 4.h * task.attempt }
  }

  $runAnnovar {
	time = { 6.h * task.attempt }
	cpus = 8
        memory = {32.GB * task.attempt }
  }		
 
}

params {

   genomes {
	'hg19' {
		fasta = "/opt/references/gatk/hg19/ucsc.hg19.fasta"
		dbsnp = "/opt/references/gatk/hg19/dbsnp_138.hg19.vcf.gz"
		gold = "/opt/references/gatk/hg19/Mills_and_1000G_gold_standard.indels.hg19.sites.vcf.gz"
		g1k = "/opt/references/gatk/hg19/1000G_phase1.indels.hg19.sites.vcf.gz"
		omni = "/opt/references/gatk/hg19/1000G_omni2.5.hg19.sites.vcf.gz"
		hapmap = "/opt/references/gatk/hg19/hapmap_3.3.hg19.sites.vcf.gz"


	}
	'hg38' {
                fasta = "/opt/references/gatk/hg38/hg38bundle/Homo_sapiens_assembly38.fasta"
                dbsnp = "/opt/references/gatk/hg38/hg38bundle/dbsnp_144.hg38.vcf.gz"
                gold = "/opt/references/gatk/hg38/hg38bundle/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz"
		g1k = "/opt/references/gatk/hg38/hg38bundle/1000G_phase1.snps.high_confidence.hg38.vcf.gz"
	}

   }

   kits {
      'Nextera' {
         targets = "/opt/references/exomes/nextera_exome_target_2017/nexterarapidcapture_exome_target_v1.2_hg19.interval_list"
         baits = "/opt/references/exomes/nextera_exome_target_2017/nexterarapidcapture_exome_intervals_v1.2_hg19.interval_list"
      }
      'xGen' {
	targets = "/opt/references/exomes/idt_xgen/v1.0/xgen-exome-research-panel-targets.interval_list"
        baits = "/opt/references/exomes/idt_xgen/v1.0/xgen-exome-research-panel-probes.interval_list"
      }
   }


}

