
// Job paramaters to set for this environment

params.mem_adjust = 3

storage_dir = "/storage2"

params.outdir = "output" 

params.gatk_jar = "/opt/gatk/3.7/GenomeAnalysisTK.jar"
params.picard_jar = "/opt/picard/2.9.2/picard.jar"
params.trimmomatic = "/opt/trimmomatic/0.36"

params.calibration_exomes = "${storage_dir}/references/exomes/calibration_exomes_resorted/calibration_exomes.list"
params.calibration_exomes_samples = "${storage_dir}/references/exomes/calibration_exomes_resorted/calibration_exomes.samples.list"
params.calibration_exomes_samples_args = "${storage_dir}/references/exomes/calibration_exomes_resorted/calibration_exomes.samples.args"

params.vep_cache = "${storage_dir}/databases/EnsEMBL/vep/cache"

params.leading = 3
params.trailing = 3
params.slidingwindow = "4:15"
params.minlen = 36
params.adapters = "NexteraPE-PE.fa"

params.scratch = false

// Resource manager settings

executor {
  name="slurm"
  queueSize=50
}

// Process setting

singularity {
	enabled = true
	//autoMounts = true
	runOptions = "-B /storage2:/storage2"
}

process {

  container = "${storage_dir}/images/ikmb-diagnostic-exomes.img"

  // Global cluster parameters
  executor = 'slurm'
  queue = 'main'
  memory = { 8.GB * task.attempt }
  cpus = { 1 * task.attempt }
  time = { 2.h * task.attempt }
  errorStrategy = { task.exitStatus == 143 ? 'retry' : 'finish' }
  maxRetries = 3
  maxErrors = '-1'
 
  // Specific cluster parameters for each process

  $runBWA {
    memory = "24GB"
    time = { 8.h * task.attempt }
    cpus = 10
  }

  $runTrimmomatic {
     cpus = 10
     time = { 8.h * task.attempt }
     memory = "7GB"
  }

  $mergeBamFiles_bySample {
     cpus = 2
     time = { 2.h * task.attempt }
     memory = "16GB"
  }

  $runMarkDuplicates { 
     memory = "32GB"
     cpus = 1
     time = { 12.h * task.attempt }   
  }

  $runFreebayes {
     cpus = 20
     time = { 12.h * task.attempt }
     memory = "15GB"
  }

  $runConcatVcf {
  }

  $runFilterVcf {
  }

  $runBaseRecalibrator {
    time = { 24.h * task.attempt }
    memory = "24GB"
    cpus = 1
  }

  $runBaseRecalibratorGATK3 {
    time = { 24.h * task.attempt }
    memory = "24GB"
    cpus = 1
  }

  $runPrintReadsGATK3 {
    time = { 24.h * task.attempt }
    memory = "24GB"
    cpus = 1
  }
  
  $runBaseRecalibratorPostRecalGATK3 {
    time = { 8.h * task.attempt }
    memory = "24GB"
    cpus = 1
  }

  $runAnalyzeCovariatesGATK3 {
    time = { 8.h * task.attempt }
    memory = "8GB"
    cpus = 1
  }

  $runHCSampleGATK3 {
    time = { 12.h * task.attempt }
    memory = "24GB"
    cpus = 1
  }

  $runJoinedGenotypingGATK3 {
    time = { 36.h * task.attempt }
    memory = "32GB"
    cpus = 1
  }

  $runRecalibrationModeSNPGATK3 {
    time = { 12.h * task.attempt }
    memory = "24GB"
    cpus = 1
  }

  $runRecalibrationModeIndelGATK3 {
    time = { 12.h * task.attempt }
    memory = "24GB"
    cpus = 1
  }
 
  $runRecalSNPApplyGATK3 {
    time = { 6.h * task.attempt }
    memory = "24GB"
    cpus = 1
  }

  $runRecalIndelApplyGATK3 {
    time = { 6.h * task.attempt }
    memory = "24GB"
    cpus = 1
  }

  $runVariantFiltrationIndelGATK3 {
    time = { 6.h * task.attempt }
    memory = "24GB"
    cpus = 1
  }

  $runCombineVariantsGATK3 {
    time = { 12.h * task.attempt }
    memory = "24GB"
    cpus = 1
  }

  $runRemoveCalibrationExomesGATK3 {
    time = { 4.h * task.attempt }
    memory = "8GB"
    cpus = 1
  }

  $runApplyBQSR {
    time = { 72.h * task.attempt }
    memory = "32GB"
  }

  $runBaseRecalibratorPostRecal {   
    time = { 12.h * task.attempt }
  }

  $runAnalyzeCovariates {
    time = { 12.h * task.attempt }
  }
 
  $runDepthOfCoverage { 
    time = { 12.h * task.attempt }
  }

  $runOxoGMetrics {
    time = { 6.h * task.attempt }
    memory = "11GB"
  }

  $runHybridCaptureMetrics {
    time = { 6.h * task.attempt }
    memory = "15GB"
  }

  $runCollectMultipleMetrics {
    time = { 12.h * task.attempt }
    memory = "15GB"
  }

  $runFastQC {
    time = { 6.h * task.attempt }
  }

  $runMultiQCFastq {
     time = {  4.h * task.attempt }
     memory = "5GB"
  }

  $runMultiQCLibrary {
     time = {  4.h * task.attempt }
     memory = "5GB"
  }

  $runMultiQCSample {
     time = {  4.h * task.attempt }
     memory = "7GB"
  }

  $runHCSample {
    cpus=8
    memory = { 32.GB * task.attempt }
    time = { 8.h * task.attempt }
  }

  $runGenomicsDBImport {
     memory = { 8.GB * task.attempt }
     time = { 4.h * task.attempt }
  } 

  $runJoinedGenotyping {
        cpus=8
        memory = { 32.GB * task.attempt }
        time = { 8.h * task.attempt }
  }

  $combineVariantsFromGenotyping {
	time = { 5.h * task.attempt }
	memory = "15GB"
  }

  $runRecalibrationModeSNP {
	cpus=8
	memory = { 16.GB * task.attempt }
	time = { 8.h * task.attempt }
  }

  $runRecalibrationModeIndel {
        cpus=8
        memory = { 16.GB * task.attempt }
        time = { 8.h * task.attempt }
  }

  $runRecalIndelApply {
        memory = { 16.GB * task.attempt }
        time = { 8.h * task.attempt }
  }

  $runRecalSNPApply {
        memory = { 15.GB * task.attempt }
        time = { 8.h * task.attempt }
  } 

  $runVariantFiltrationIndel {
        memory = { 16.GB * task.attempt }
        time = { 4.h * task.attempt }

  }

  $runCombineVariants {
        memory = { 8.GB * task.attempt }
        time = { 2.h * task.attempt }
  }
 
  $runLeftNormalize {
  }

  $runVep {
	cpus = 8
	memory = {16.GB * task.attempt }
	time = { 4.h * task.attempt }
  }

  $runAnnovar {
	time = { 6.h * task.attempt }
	cpus = 8
        memory = {16.GB * task.attempt }
  }		
 
}

params {

   genomes {

	'hg19_clinical' {
		fasta = "${storage_dir}/references/gatk/bundle/2.8/hg19/clinical/hg19.clinical.fa"
		dict = "${storage_dir}/references/gatk/bundle/2.8/hg19/clinical/hg19.clinical.dict"
                dbsnp = "${storage_dir}/references/gatk/bundle/2.8/hg19/dbsnp_138.hg19.vcf.gz"
                gold = "${storage_dir}/references/gatk/bundle/2.8/hg19/Mills_and_1000G_gold_standard.indels.hg19.sites.vcf.gz"
                g1k = "${storage_dir}/references/gatk/bundle/2.8/hg19/1000G_phase1.indels.hg19.sites.vcf.gz"
                omni = "${storage_dir}/references/gatk/bundle/2.8/hg19/1000G_omni2.5.hg19.sites.vcf.gz"
                hapmap = "${storage_dir}/references/gatk/bundle/2.8/hg19/hapmap_3.3.hg19.sites.vcf.gz"
                exac = "${storage_dir}/references/exac/0.3.1/ExAC.r0.3.1.sites.vep.vcf.gz"
                cadd = "${storage_dir}/references/cadd/1.3/whole_genome_SNVs.tsv.gz"
                annovar_db = "${storage_dir}/databases/annovar/humandb"
                kits {
                        'Nextera' {
                                targets = "${storage_dir}/references/exomes/nextera_exome_target_2017/hg19_clinical/nexterarapidcapture_exome_target_v1.2_hg19.interval_list"
                                baits = "${storage_dir}/references/exomes/nextera_exome_target_2017/hg19_clinical/nexterarapidcapture_exome_intervals_v1.2_hg19.interval_list"
                        }
                        'xGen' {
                                targets = "${storage_dir}/references/exomes/idt_xgen/v1.0/hg19_clinical/xgen-exome-research-panel-targets.interval_list"
                                baits = "${storage_dir}/references/exomes/idt_xgen/v1.0/hg19_clinical/xgen-exome-research-panel-probes.interval_list"
                        }
                }	
	}
	'hg19' {
		fasta = "${storage_dir}/references/gatk/bundle/2.8/hg19/ucsc.hg19.fasta"
		dict = "${storage_dir}/references/gatk/bundle/2.8/hg19/ucsc.hg19.dict"
		dbsnp = "${storage_dir}/references/gatk/bundle/2.8/hg19/dbsnp_138.hg19.vcf.gz"
		gold = "${storage_dir}/references/gatk/bundle/2.8/hg19/Mills_and_1000G_gold_standard.indels.hg19.sites.vcf.gz"
		g1k = "${storage_dir}/references/gatk/bundle/2.8/hg19/1000G_phase1.indels.hg19.sites.vcf.gz"
		omni = "${storage_dir}/references/gatk/bundle/2.8/hg19/1000G_omni2.5.hg19.sites.vcf.gz"
		hapmap = "${storage_dir}/references/gatk/bundle/2.8/hg19/hapmap_3.3.hg19.sites.vcf.gz"
		exac = "${storage_dir}/references/exac/0.3.1/ExAC.r0.3.1.sites.vep.vcf.gz"
		cadd = "${storage_dir}/references/cadd/1.3/whole_genome_SNVs.tsv.gz"
		annovar_db = "${storage_dir}/databases/annovar/humandb"
		kits {
      			'Nextera' {
         			targets = "${storage_dir}/references/exomes/nextera_exome_target_2017/nexterarapidcapture_exome_target_v1.2_hg19.interval_list"
         			baits = "${storage_dir}/references/exomes/nextera_exome_target_2017/nexterarapidcapture_exome_intervals_v1.2_hg19.interval_list"
      			}
      			'xGen' {
        			targets = "${storage_dir}/references/exomes/idt_xgen/v1.0/xgen-exome-research-panel-targets.interval_list"
        			baits = "${storage_dir}/references/exomes/idt_xgen/v1.0/xgen-exome-research-panel-probes.interval_list"
      			}
   		}
	}
	'GRCh37' {
		fasta = "${storage_dir}/references/gatk/bundle/2.8/b37/human_g1k_v37.clean.fasta"
		dict = "${storage_dir}/references/gatk/bundle/2.8/b37/human_g1k_v37.clean.dict"
		dbsnp = "${storage_dir}/references/gatk/bundle/2.8/b37/dbsnp_138.b37.vcf.gz"
		gold = "${storage_dir}/references/gatk/bundle/2.8/b37/Mills_and_1000G_gold_standard.indels.b37.vcf.gz"
		g1k = "${storage_dir}/references/gatk/bundle/2.8/b37/1000G_phase1.indels.b37.vcf.gz"
		hapmap = "${storage_dir}/references/gatk/bundle/2.8/b37/hapmap_3.3.b37.vcf.gz"
		exac = "${storage_dir}/references/exac/0.3.1/ExAC.r0.3.1.sites.vep.vcf.gz"
		cadd = "${storage_dir}/references/cadd/1.3/whole_genome_SNVs.tsv.gz"
		annovar_db = "${storage_dir}/databases/annovar/humandb"
		kits {
			'Nextera' {
         			targets = "${storage_dir}/references/exomes/nextera_exome_target_2017/nexterarapidcapture_exome_target_v1.2_hg19.interval_list"
         			baits = "${storage_dir}/references/exomes/nextera_exome_target_2017/nexterarapidcapture_exome_intervals_v1.2_hg19.interval_list"
      			}
      			'xGen' {
        			targets = "${storage_dir}/references/exomes/idt_xgen/v1.0/xgen-exome-research-panel-targets.interval_list"
        			baits = "${storage_dir}/references/exomes/idt_xgen/v1.0/xgen-exome-research-panel-probes.interval_list"
      			}
		}
	}
	'test' {
                fasta = "${storage_dir}/references/gatk/bundle/2.8/test_data/chr17.fa"
		dict = "${storage_dir}/references/gatk/bundle/2.8/test_data/chr17.dict"
                dbsnp = "${storage_dir}/references/gatk/bundle/2.8/test_data/dbsnp_138.hg19.vcf.gz"
                gold = "${storage_dir}/references/gatk/bundle/2.8/test_data/Mills_and_1000G_gold_standard.indels.hg19.sites.vcf.gz"
                g1k = "${storage_dir}/references/gatk/bundle/2.8/test_data/1000G_phase1.indels.hg19.sites.vcf.gz"
                omni = "${storage_dir}/references/gatk/bundle/2.8/test_data/1000G_omni2.5.hg19.sites.vcf.gz"
                hapmap = "${storage_dir}/references/gatk/bundle/2.8/test_data/hapmap_3.3.hg19.sites.vcf.gz"
		exac = "${storage_dir}/references/exac/0.3.1/ExAC.r0.3.1.sites.vep.vcf.gz"
                cadd = "${storage_dir}/references/cadd/1.3/whole_genome_SNVs.tsv.gz"
                annovar_db = "${storage_dir}/annovar/2017-09-20/humandb"
		kits {
      			'Nextera' {
         			targets = "${storage_dir}/references/exomes/test_data/nexterarapidcapture_exome_target_v1.2_hg19.interval_list"
			        baits = "${storage_dir}/references/exomes/test_data/nexterarapidcapture_exome_intervals_v1.2_hg19.interval_list"
      			}
      			'xGen' {
        			targets = "${storage_dir}/references/exomes/test_data/xgen-exome-research-panel-targets.interval_list"
        			baits = "${storage_dir}/references/exomes/test_data/xgen-exome-research-panel-probes.interval_list"
      			}
   		}
        }

   }


}

