
// Job paramaters to set for this environment

params.vep_cache = "/ifs/data/nfs_share/ikmb_repository/databases/EnsEMBL/vep/cache"

params.scratch = true

// Resource manager settings

executor {
  queueSize=100
}

// Process setting

process {
  
  executor = 'slurm'
  queue = 'ikmb_a'
  clusterOptions = { '--qos=ikmb_a' }

 
  $runAnnovar {
        module = [ "Annovar/2017-09-20" ]
        memory = { check_max( 32.GB * task.attempt, 'memory' ) }
        time = { check_max( 6.h * task.attempt, 'time' ) }
        cpus = { check_max( 8 * task.attempt, 'cpus' ) }
  }		
 
}

params {

   genomes {

	'hg19_clinical' {
		fasta = "/ifs/data/nfs_share/ikmb_repository/references/gatk/bundle/2.8/hg19/clinical/hg19.clinical.fa"
		dict = "/ifs/data/nfs_share/ikmb_repository/references/gatk/bundle/2.8/hg19/clinical/hg19.clinical.dict"
                dbsnp = "/ifs/data/nfs_share/ikmb_repository/references/gatk/bundle/2.8/hg19/dbsnp_138.hg19.vcf.gz"
                gold = "/ifs/data/nfs_share/ikmb_repository/references/gatk/bundle/2.8/hg19/Mills_and_1000G_gold_standard.indels.hg19.sites.vcf.gz"
                g1k = "/ifs/data/nfs_share/ikmb_repository/references/gatk/bundle/2.8/hg19/1000G_phase1.indels.hg19.sites.vcf.gz"
                omni = "/ifs/data/nfs_share/ikmb_repository/references/gatk/bundle/2.8/hg19/1000G_omni2.5.hg19.sites.vcf.gz"
                hapmap = "/ifs/data/nfs_share/ikmb_repository/references/gatk/bundle/2.8/hg19/hapmap_3.3.hg19.sites.vcf.gz"
                exac = "/ifs/data/nfs_share/ikmb_repository/references/exac/0.3.1/ExAC.r0.3.1.sites.vep.vcf.gz"
                cadd = "/ifs/data/nfs_share/ikmb_repository/references/cadd/1.3/whole_genome_SNVs.tsv.gz"
                annovar_db = "/ifs/data/nfs_share/ikmb_repository/software/annovar/2017-09-20/humandb"
		calibration_exomes_gatk4 = "/ifs/data/nfs_share/ikmb_repository/references/exomes/calibration_exomes_resorted/gvcf/gatk4/hg19_xGEN/calibration_exomes.list"
		calibration_exomes_gatk3 = "/ifs/data/nfs_share/ikmb_repository/references/exomes/calibration_exomes_resorted/calibration_exomes.list"
		calibration_exomes_samples = "/ifs/data/nfs_share/ikmb_repository/references/exomes/calibration_exomes_resorted/calibration_exomes.samples.list"
		calibration_exomes_samples_args = "/ifs/data/nfs_share/ikmb_repository/references/exomes/calibration_exomes_resorted/gvcf/gatk4/hg19_xGEN/calibration_exomes.samples.args"
                kits {
                        'Nextera' {
                                targets = "/ifs/data/nfs_share/ikmb_repository/references/exomes/nextera_exome_target_2017/hg19_clinical/nexterarapidcapture_exome_target_v1.2_hg19.interval_list"
                                baits = "/ifs/data/nfs_share/ikmb_repository/references/exomes/nextera_exome_target_2017/hg19_clinical/nexterarapidcapture_exome_intervals_v1.2_hg19.interval_list"
                        }
                        'xGen' {
                                targets = "/ifs/data/nfs_share/ikmb_repository/references/exomes/idt_xgen/v1.0/hg19_clinical/xgen-exome-research-panel-targets.interval_list"
                                baits = "/ifs/data/nfs_share/ikmb_repository/references/exomes/idt_xgen/v1.0/hg19_clinical/xgen-exome-research-panel-probes.interval_list"
                        }

			'xGen_custom' {
        			targets = "/ifs/data/nfs_share/ikmb_repository/references/exomes/idt_xgen/v1.0_custom/hg19_clinical/xgen-exome-research-panel-targets.interval_list"
        			baits = "/ifs/data/nfs_share/ikmb_repository/references/exomes/idt_xgen/v1.0_custom/hg19_clinical/xgen-exome-research-panel-probes.interval_list"
      			}

                }	
	}
	'hg19' {
		fasta = "/ifs/data/nfs_share/ikmb_repository/references/gatk/bundle/2.8/hg19/ucsc.hg19.fasta"
		dict = "/ifs/data/nfs_share/ikmb_repository/references/gatk/bundle/2.8/hg19/ucsc.hg19.dict"
		dbsnp = "/ifs/data/nfs_share/ikmb_repository/references/gatk/bundle/2.8/hg19/dbsnp_138.hg19.vcf.gz"
		gold = "/ifs/data/nfs_share/ikmb_repository/references/gatk/bundle/2.8/hg19/Mills_and_1000G_gold_standard.indels.hg19.sites.vcf.gz"
		g1k = "/ifs/data/nfs_share/ikmb_repository/references/gatk/bundle/2.8/hg19/1000G_phase1.indels.hg19.sites.vcf.gz"
		omni = "/ifs/data/nfs_share/ikmb_repository/references/gatk/bundle/2.8/hg19/1000G_omni2.5.hg19.sites.vcf.gz"
		hapmap = "/ifs/data/nfs_share/ikmb_repository/references/gatk/bundle/2.8/hg19/hapmap_3.3.hg19.sites.vcf.gz"
		exac = "/ifs/data/nfs_share/ikmb_repository/references/exac/0.3.1/ExAC.r0.3.1.sites.vep.vcf.gz"
		cadd = "/ifs/data/nfs_share/ikmb_repository/references/cadd/1.3/whole_genome_SNVs.tsv.gz"
		annovar_db = "/ifs/data/nfs_share/ikmb_repository/software/annovar/2017-09-20/humandb"
		per_sequence_root = "/ifs/data/nfs_share/ikmb_repository/references/gatk/bundle/2.8/hg19/per_chromosome"
		kits {
      			'Nextera' {
         			targets = "/ifs/data/nfs_share/ikmb_repository/references/exomes/nextera_exome_target_2017/nexterarapidcapture_exome_target_v1.2_hg19.interval_list"
         			baits = "/ifs/data/nfs_share/ikmb_repository/references/exomes/nextera_exome_target_2017/nexterarapidcapture_exome_intervals_v1.2_hg19.interval_list"
      			}
      			'xGen' {
        			targets = "/ifs/data/nfs_share/ikmb_repository/references/exomes/idt_xgen/v1.0/xgen-exome-research-panel-targets.interval_list"
        			baits = "/ifs/data/nfs_share/ikmb_repository/references/exomes/idt_xgen/v1.0/xgen-exome-research-panel-probes.interval_list"
      			}
   		}
	}
	'GRCh37' {
		fasta = "/ifs/data/nfs_share/ikmb_repository/references/gatk/bundle/2.8/b37/human_g1k_v37.clean.fasta"
		dict = "/ifs/data/nfs_share/ikmb_repository/references/gatk/bundle/2.8/b37/human_g1k_v37.clean.dict"
		dbsnp = "/ifs/data/nfs_share/ikmb_repository/references/gatk/bundle/2.8/b37/dbsnp_138.b37.vcf.gz"
		gold = "/ifs/data/nfs_share/ikmb_repository/references/gatk/bundle/2.8/b37/Mills_and_1000G_gold_standard.indels.b37.vcf.gz"
		g1k = "/ifs/data/nfs_share/ikmb_repository/references/gatk/bundle/2.8/b37/1000G_phase1.indels.b37.vcf.gz"
		hapmap = "/ifs/data/nfs_share/ikmb_repository/references/gatk/bundle/2.8/b37/hapmap_3.3.b37.vcf.gz"
		exac = "/ifs/data/nfs_share/ikmb_repository/references/exac/0.3.1/ExAC.r0.3.1.sites.vep.vcf.gz"
		cadd = "/ifs/data/nfs_share/ikmb_repository/references/cadd/1.3/whole_genome_SNVs.tsv.gz"
		annovar_db = "/ifs/data/nfs_share/ikmb_repository/software/annovar/2017-09-20/humandb"
		kits {
			'Nextera' {
         			targets = "/ifs/data/nfs_share/ikmb_repository/references/exomes/nextera_exome_target_2017/nexterarapidcapture_exome_target_v1.2_hg19.interval_list"
         			baits = "/ifs/data/nfs_share/ikmb_repository/references/exomes/nextera_exome_target_2017/nexterarapidcapture_exome_intervals_v1.2_hg19.interval_list"
      			}
      			'xGen' {
        			targets = "/ifs/data/nfs_share/ikmb_repository/references/exomes/idt_xgen/v1.0/xgen-exome-research-panel-targets.interval_list"
        			baits = "/ifs/data/nfs_share/ikmb_repository/references/exomes/idt_xgen/v1.0/xgen-exome-research-panel-probes.interval_list"
      			}
		}
	}
	'hg38' {
                fasta = "/ifs/data/nfs_share/ikmb_repository/references/gatk/bundle/hg38/hg38bundle/Homo_sapiens_assembly38.fasta"
		dict = "/ifs/data/nfs_share/ikmb_repository/references/gatk/bundle/hg38/hg38bundle/Homo_sapiens_assembly38.dict"
                dbsnp = "/ifs/data/nfs_share/ikmb_repository/references/gatk/bundle/hg38/hg38bundle/dbsnp_144.hg38.vcf.gz"
                gold = "/ifs/data/nfs_share/ikmb_repository/references/gatk/bundle/hg38/hg38bundle/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz"
		g1k = "/ifs/data/nfs_share/ikmb_repository/references/gatk/bundle/hg38/hg38bundle/1000G_phase1.snps.high_confidence.hg38.vcf.gz"
		hapmap = "/ifs/data/nfs_share/ikmb_repository/references/gatk/bundle/hg38/hg38bundle/hapmap_3.3.hg38.vcf.gz"
		omni = "/ifs/data/nfs_share/ikmb_repository/references/gatk/bundle/hg38/hg38bundle/1000G_omni2.5.hg38.vcf.gz"
	}
	'test' {
                fasta = "/ifs/data/nfs_share/ikmb_repository/references/gatk/bundle/2.8/test_data/chr17.fa"
		dict = "/ifs/data/nfs_share/ikmb_repository/references/gatk/bundle/2.8/test_data/chr17.dict"
                dbsnp = "/ifs/data/nfs_share/ikmb_repository/references/gatk/bundle/2.8/test_data/dbsnp_138.hg19.vcf.gz"
                gold = "/ifs/data/nfs_share/ikmb_repository/references/gatk/bundle/2.8/test_data/Mills_and_1000G_gold_standard.indels.hg19.sites.vcf.gz"
                g1k = "/ifs/data/nfs_share/ikmb_repository/references/gatk/bundle/2.8/test_data/1000G_phase1.indels.hg19.sites.vcf.gz"
                omni = "/ifs/data/nfs_share/ikmb_repository/references/gatk/bundle/2.8/test_data/1000G_omni2.5.hg19.sites.vcf.gz"
                hapmap = "/ifs/data/nfs_share/ikmb_repository/references/gatk/bundle/2.8/test_data/hapmap_3.3.hg19.sites.vcf.gz"
		exac = "/ifs/data/nfs_share/ikmb_repository/references/exac/0.3.1/ExAC.r0.3.1.sites.vep.vcf.gz"
                cadd = "/ifs/data/nfs_share/ikmb_repository/references/cadd/1.3/whole_genome_SNVs.tsv.gz"
                annovar_db = "/ifs/data/nfs_share/ikmb_repository/software/annovar/2017-09-20/humandb"
		kits {
      			'Nextera' {
         			targets = "/ifs/data/nfs_share/ikmb_repository/references/exomes/test_data/nexterarapidcapture_exome_target_v1.2_hg19.interval_list"
			        baits = "/ifs/data/nfs_share/ikmb_repository/references/exomes/test_data/nexterarapidcapture_exome_intervals_v1.2_hg19.interval_list"
      			}
      			'xGen' {
        			targets = "/ifs/data/nfs_share/ikmb_repository/references/exomes/test_data/xgen-exome-research-panel-targets.interval_list"
        			baits = "/ifs/data/nfs_share/ikmb_repository/references/exomes/test_data/xgen-exome-research-panel-probes.interval_list"
      			}
   		}
        }

   }


}

